<section data-ng-controller="DetallesController" data-ng-init="find()">
  <div class="x_panel">
    <div class="x_title">
      <h2>Detalles <small>Tabla de Detalles</small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Valor</th>
            <th>Empresa</th>
            <th>Categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="detalle in detalles">
            <th scope="row">1</th>
            <td data-ng-href="#!/detalles/{{detalle._id}}" data-ng-bind="detalle.valor"></td>
            <td data-ng-bind="detalle.empresa"></td>
            <td data-ng-bind="detalle.categoria"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    Aun no hay detalles <a href="/#!/detalles/create">Crear Detalle</a>
  </div>
</section>
