<section data-ng-controller="CajasController" data-ng-init="find()">
  <div class="x_panel">
    <div class="x_content">
      <div class="x_title">
        <h2>Cajas Chicas <small>Tabla de Cajas Chicas</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <button type="button" class="btn btn-default" ng-click="create()">Crear Caja</button>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div style="overflow-x:auto;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Creado</th>
              <th>Valor</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="caja in cajas">
              <th scope="row">{{$index + 1}}</th>
              <td data-ng-bind="caja.creado | date:'MM/dd/yyyy'"></td>
              <td data-ng-bind="caja.valor"></td>
              <td data-ng-bind="caja.estado"></td>
              <td><a data-ng-href="#!/cajas/{{caja._id}}">ver</a><a ng-click="delete(caja)">eliminar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
