<section data-ng-controller="CajasController" data-ng-init="find()">
  <div class="page-title">
    <div class="title_left">
      <h3>Cajas Chicas</h3>
    </div>
  </div>
  <div class="x_panel">
    <div class="x_content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Creado</th>
            <th>Valor</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="caja in cajas">
            <th scope="row">{{$index + 1}}</th>
            <td data-ng-bind="caja.creado | date:'MM/dd/yyyy'"></td>
            <td data-ng-bind="caja.valor"></td>
            <td data-ng-bind="caja.estado"></td>
            <td><a data-ng-href="#!/cajas/{{caja._id}}">ver</a></td>
          </tr>
        </tbody>
      </table>
      <ul class="nav navbar-right panel_toolbox">
        <button type="button" class="btn btn-default" ng-click="create()">Crear Caja</button>
      </ul>
    </div>
  </div>
</section>
