<div data-ng-init="init()">
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-12">
      <div class="form-group">
        <label>Año:</label>
        <select class="form-control" ng-model="filtro.anio" ng-change="updateSucursales()">
          <option value="">Elija el año</option>
          <option ng-value="anio._id" ng-repeat="anio in anios">{{anio._id}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
      <div class="form-group">
        <label>Local/Departamemto:</label>
        <select class="form-control" ng-model="filtro.sucursal" ng-change="generarReporte()">
          <option value="Todas">Todas</option>
          <option ng-value="sucursal._id" ng-repeat="sucursal in sucursales">{{sucursal._id}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-5 col-sm-4 col-xs-12">
      <div class="btn-group" style="float:right">
        <a class="btn btn-sm btn-default" ng-click="exportExcel('IdReporteXCategoria', 'Categoria')"><i class="fa fa-file-excel-o"></i> Exportar</a>
        <a class="btn btn-sm btn-default" ng-click="printDiv('#IdReporteXCategoria', 'Categoria')"><i class="fa fa-print"></i> Imprimir</a>
      </div>
    </div>
  </div>

  <div id="IdReporteXCategoria" class="x_panel">
    <div ng-if="filtro.sucursal=='Todas'">
      <div align="right">
        {{ today | date: "'Guayaquil, 'd' de ' MMMM ' del ' y"}}
      </div>
      <div class="x_title">
        <h4>Reporte por Categoria</h4>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div>
          <b>Año:</b> {{filtro.anio}} <b>Sucursal:</b> {{filtro.sucursal}}
        </div>
        <div style="overflow-x:auto;">
          <table class="table table-bordered">
            <thead>
              <tr class="success">
                <th class="filaLink" ng-click="onFiltro('categoria')">Categoria <div style="float:right"><i ng-if="!reverse && filtroTable=='categoria'" class="fa fa-sort-alpha-asc"></i><i ng-if="reverse && filtroTable=='categoria'" class="fa fa-sort-alpha-desc"></i></div></th>
                <th ng-if="montosMaximos.length != 0">M. Mensual</th>
                <th ng-if="Ene!=0" class="filaLink" ng-click="onFiltro('ene')">Ene <div style="float:right"><i ng-if="!reverse && filtroTable=='ene'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='ene'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Feb!=0" class="filaLink" ng-click="onFiltro('feb')">Feb <div style="float:right"><i ng-if="!reverse && filtroTable=='feb'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='feb'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Mar!=0" class="filaLink" ng-click="onFiltro('mar')">Mar <div style="float:right"><i ng-if="!reverse && filtroTable=='mar'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='mar'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Abr!=0" class="filaLink" ng-click="onFiltro('abr')">Abr <div style="float:right"><i ng-if="!reverse && filtroTable=='abr'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='abr'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="May!=0" class="filaLink" ng-click="onFiltro('may')">May <div style="float:right"><i ng-if="!reverse && filtroTable=='may'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='may'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Jun!=0" class="filaLink" ng-click="onFiltro('jun')">Jun <div style="float:right"><i ng-if="!reverse && filtroTable=='jun'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='jun'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Jul!=0" class="filaLink" ng-click="onFiltro('jul')">Jul <div style="float:right"><i ng-if="!reverse && filtroTable=='jul'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='jul'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Ago!=0" class="filaLink" ng-click="onFiltro('ago')">Ago <div style="float:right"><i ng-if="!reverse && filtroTable=='ago'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='ago'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Sep!=0" class="filaLink" ng-click="onFiltro('sep')">Sep <div style="float:right"><i ng-if="!reverse && filtroTable=='sep'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='sep'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Oct!=0" class="filaLink" ng-click="onFiltro('oct')">Oct <div style="float:right"><i ng-if="!reverse && filtroTable=='oct'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='oct'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Nov!=0" class="filaLink" ng-click="onFiltro('nov')">Nov <div style="float:right"><i ng-if="!reverse && filtroTable=='nov'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='nov'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Dic!=0" class="filaLink" ng-click="onFiltro('dic')">Dic <div style="float:right"><i ng-if="!reverse && filtroTable=='dic'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='dic'" class="fa fa-sort-amount-desc"></i></div></th>
                <th class="filaLink" ng-click="onFiltro('total')">Total Acumulado <div style="float:right"><i ng-if="!reverse && filtroTable=='total'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='total'" class="fa fa-sort-amount-desc"></i></div></th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="fila in tabla | orderBy:filtroTable:reverse">
                <td class="success" data-ng-bind="fila.categoria"></td>
                <td ng-if="montosMaximos.length != 0" class="text-right">{{ getMonto(fila.categoria) | currency }}</td>
                <td ng-if="Ene!=0" ng-class="{'filaLink': fila.ene!=0, 'supera bold': esMayor(fila.categoria, fila.ene) }" class="text-right" ng-click="verDetallesCelda(fila.categoria,1,fila.ene != 0)"><valor ng-if="fila.ene!=0">{{fila.ene | currency}}</valor></td>
                <td ng-if="Feb!=0" ng-class="{'filaLink': fila.feb!=0, 'supera': esMayor(fila.categoria, fila.feb) }" class="text-right" ng-click="verDetallesCelda(fila.categoria,2,fila.feb != 0)"><valor ng-if="fila.feb!=0">{{fila.feb | currency}}</valor></td>
                <td ng-if="Mar!=0" ng-class="{'filaLink': fila.mar!=0, 'supera': esMayor(fila.categoria, fila.mar) }" class="text-right" ng-click="verDetallesCelda(fila.categoria,3,fila.mar != 0)"><valor ng-if="fila.mar!=0">{{fila.mar | currency}}</valor></td>
                <td ng-if="Abr!=0" ng-class="{'filaLink': fila.abr!=0, 'supera': esMayor(fila.categoria, fila.abr) }" class="text-right" ng-click="verDetallesCelda(fila.categoria,4,fila.abr != 0)"><valor ng-if="fila.abr!=0">{{fila.abr | currency}}</valor></td>
                <td ng-if="May!=0" ng-class="{'filaLink': fila.may!=0, 'supera': esMayor(fila.categoria, fila.may) }" class="text-right" ng-click="verDetallesCelda(fila.categoria,5,fila.may != 0)"><valor ng-if="fila.may!=0">{{fila.may | currency}}</valor></td>
                <td ng-if="Jun!=0" ng-class="{'filaLink': fila.jun!=0, 'supera': esMayor(fila.categoria, fila.jun) }" class="text-right" ng-click="verDetallesCelda(fila.categoria,6,fila.jun != 0)"><valor ng-if="fila.jun!=0">{{fila.jun | currency}}</valor></td>
                <td ng-if="Jul!=0" ng-class="{'filaLink': fila.jul!=0, 'supera': esMayor(fila.categoria, fila.jul) }" class="text-right" ng-click="verDetallesCelda(fila.categoria,7,fila.jul != 0)"><valor ng-if="fila.jul!=0">{{fila.jul | currency}}</valor></td>
                <td ng-if="Ago!=0" ng-class="{'filaLink': fila.ago!=0, 'supera': esMayor(fila.categoria, fila.ago) }" class="text-right" ng-click="verDetallesCelda(fila.categoria,8,fila.ago != 0)"><valor ng-if="fila.ago!=0">{{fila.ago | currency}}</valor></td>
                <td ng-if="Sep!=0" ng-class="{'filaLink': fila.sep!=0, 'supera': esMayor(fila.categoria, fila.sep) }" class="text-right" ng-click="verDetallesCelda(fila.categoria,9,fila.sep != 0)"><valor ng-if="fila.sep!=0" data-ng-bind="fila.sep | currency"></valor></td>
                <td ng-if="Oct!=0" ng-class="{'filaLink': fila.oct!=0, 'supera': esMayor(fila.categoria, fila.oct) }" class="text-right" ng-click="verDetallesCelda(fila.categoria,10,fila.oct != 0)"><valor ng-if="fila.oct!=0">{{fila.oct | currency}}</valor></td>
                <td ng-if="Nov!=0" ng-class="{'filaLink': fila.nov!=0, 'supera': esMayor(fila.categoria, fila.nov) }" class="text-right" ng-click="verDetallesCelda(fila.categoria,11,fila.nov != 0)"><valor ng-if="fila.nov!=0">{{fila.nov | currency}}</valor></td>
                <td ng-if="Dic!=0" ng-class="{'filaLink': fila.dic!=0, 'supera': esMayor(fila.categoria, fila.dic) }" class="text-right" ng-click="verDetallesCelda(fila.categoria,12,fila.dic != 0)"><valor ng-if="fila.dic!=0">{{fila.dic | currency}}</valor></td>
                <td class="text-right info" data-ng-bind="fila.total | currency"></td>
              </tr>
              <tr>
                <td class="success">Total por Mes</td>
                <td ng-if="montosMaximos.length != 0"></td>
                <td ng-if="Ene!=0" class="text-right info" data-ng-bind="Ene | currency"></td>
                <td ng-if="Feb!=0" class="text-right info" data-ng-bind="Feb | currency"></td>
                <td ng-if="Mar!=0" class="text-right info" data-ng-bind="Mar | currency"></td>
                <td ng-if="Abr!=0" class="text-right info" data-ng-bind="Abr | currency"></td>
                <td ng-if="May!=0" class="text-right info" data-ng-bind="May | currency"></td>
                <td ng-if="Jun!=0" class="text-right info" data-ng-bind="Jun | currency"></td>
                <td ng-if="Jul!=0" class="text-right info" data-ng-bind="Jul | currency"></td>
                <td ng-if="Ago!=0" class="text-right info" data-ng-bind="Ago | currency"></td>
                <td ng-if="Sep!=0" class="text-right info" data-ng-bind="Sep | currency"></td>
                <td ng-if="Oct!=0" class="text-right info" data-ng-bind="Oct | currency"></td>
                <td ng-if="Nov!=0" class="text-right info" data-ng-bind="Nov | currency"></td>
                <td ng-if="Dic!=0" class="text-right info" data-ng-bind="Dic | currency"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div ng-if="filtro.sucursal!='Todas'">
      <div align="right">
        {{ today | date: "'Guayaquil, 'd' de ' MMMM ' del ' y"}}
      </div>
      <div class="x_title">
        <h4>Reporte por Categoria</h4>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div>
          <b>Año:</b> {{filtro.anio}} <b>Sucursal:</b> {{filtro.sucursal}}
        </div>
        <div style="overflow-x:auto;">
          <!--<table class="table table-bordered">
            <thead>
              <tr class="success">
                <th class="filaLink" ng-click="onFiltro('categoria')">Categoria <div style="float:right"><i ng-if="!reverse && filtroTable=='categoria'" class="fa fa-sort-alpha-asc"></i><i ng-if="reverse && filtroTable=='categoria'" class="fa fa-sort-alpha-desc"></i></div></th>
                <th ng-if="montosMaximos.length != 0">M. Mensual</th>
                <th ng-if="Ene!=0" class="filaLink" ng-click="onFiltro('ene')">Ene <div style="float:right"><i ng-if="!reverse && filtroTable=='ene'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='ene'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Feb!=0" class="filaLink" ng-click="onFiltro('feb')">Feb <div style="float:right"><i ng-if="!reverse && filtroTable=='feb'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='feb'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Mar!=0" class="filaLink" ng-click="onFiltro('mar')">Mar <div style="float:right"><i ng-if="!reverse && filtroTable=='mar'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='mar'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Abr!=0" class="filaLink" ng-click="onFiltro('abr')">Abr <div style="float:right"><i ng-if="!reverse && filtroTable=='abr'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='abr'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="May!=0" class="filaLink" ng-click="onFiltro('may')">May <div style="float:right"><i ng-if="!reverse && filtroTable=='may'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='may'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Jun!=0" class="filaLink" ng-click="onFiltro('jun')">Jun <div style="float:right"><i ng-if="!reverse && filtroTable=='jun'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='jun'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Jul!=0" class="filaLink" ng-click="onFiltro('jul')">Jul <div style="float:right"><i ng-if="!reverse && filtroTable=='jul'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='jul'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Ago!=0" class="filaLink" ng-click="onFiltro('ago')">Ago <div style="float:right"><i ng-if="!reverse && filtroTable=='ago'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='ago'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Sep!=0" class="filaLink" ng-click="onFiltro('sep')">Sep <div style="float:right"><i ng-if="!reverse && filtroTable=='sep'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='sep'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Oct!=0" class="filaLink" ng-click="onFiltro('oct')">Oct <div style="float:right"><i ng-if="!reverse && filtroTable=='oct'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='oct'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Nov!=0" class="filaLink" ng-click="onFiltro('nov')">Nov <div style="float:right"><i ng-if="!reverse && filtroTable=='nov'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='nov'" class="fa fa-sort-amount-desc"></i></div></th>
                <th ng-if="Dic!=0" class="filaLink" ng-click="onFiltro('dic')">Dic <div style="float:right"><i ng-if="!reverse && filtroTable=='dic'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='dic'" class="fa fa-sort-amount-desc"></i></div></th>
                <th class="filaLink" ng-click="onFiltro('total')">Total Acumulado <div style="float:right"><i ng-if="!reverse && filtroTable=='total'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='total'" class="fa fa-sort-amount-desc"></i></div></th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="reporte in response | orderBy:filtroTable:reverse">
                <td class="success" data-ng-bind="reporte._id"></td>
                <td ng-if="montosMaximos.length != 0" class="text-right">{{ getMonto(reporte._id) | currency }}</td>
                <td ng-repeat="destino in reporte.destinos">
                  <tr>
                    <td>{{destino.destinadoA}}
                    </td>
                  </tr>
                </td>
                <td class="text-right info" data-ng-bind="fila.total | currency"></td>
              </tr>
              <tr>
                <td class="success">Total por Mes</td>
                <td ng-if="montosMaximos.length != 0"></td>
                <td ng-if="Ene!=0" class="text-right info" data-ng-bind="Ene | currency"></td>
                <td ng-if="Feb!=0" class="text-right info" data-ng-bind="Feb | currency"></td>
                <td ng-if="Mar!=0" class="text-right info" data-ng-bind="Mar | currency"></td>
                <td ng-if="Abr!=0" class="text-right info" data-ng-bind="Abr | currency"></td>
                <td ng-if="May!=0" class="text-right info" data-ng-bind="May | currency"></td>
                <td ng-if="Jun!=0" class="text-right info" data-ng-bind="Jun | currency"></td>
                <td ng-if="Jul!=0" class="text-right info" data-ng-bind="Jul | currency"></td>
                <td ng-if="Ago!=0" class="text-right info" data-ng-bind="Ago | currency"></td>
                <td ng-if="Sep!=0" class="text-right info" data-ng-bind="Sep | currency"></td>
                <td ng-if="Oct!=0" class="text-right info" data-ng-bind="Oct | currency"></td>
                <td ng-if="Nov!=0" class="text-right info" data-ng-bind="Nov | currency"></td>
                <td ng-if="Dic!=0" class="text-right info" data-ng-bind="Dic | currency"></td>
                <td></td>
              </tr>
            </tbody>
          </table>-->

          <table class="table table-bordered">
            <thead>
              <tr class="success">
                <th class="filaLink" ng-click="onFiltro('categoria')">Categoria <div style="float:right"><i ng-if="!reverse && filtroTable=='categoria'" class="fa fa-sort-alpha-asc"></i><i ng-if="reverse && filtroTable=='categoria'" class="fa fa-sort-alpha-desc"></i></div></th>
                <th ng-if="montosMaximos.length != 0">M. Mensual</th>
                <th>Ene</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Abr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Ago</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dic</th>
                <th>Total Acumulado</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="reporte in response">
                <td>{{reporte.categoria}}</td>
                <td>{{reporte.destinadoA}}</td>
                <td class="text-right" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]"><div ng-repeat="mes in reporte.meses" ng-if="mes.mes==i">{{mes.total | currency}}</div></td>
                <td>{{reporte.total}}</td>
              </tr>
            </tbody>
          </table>

          <ul>
            <div ng-repeat="reporte in response1">
              <li>{{reporte._id}}</li>
              <ol>
                <div ng-repeat="destino in reporte.destinos">
                  <li>{{destino.destinadoA}} {{destino.total | currency}}</li>
                  <ul>
                    <div ng-repeat="mes in destino.meses">
                      <li>{{getMes(mes.mes)}} {{mes.total | currency}}</li>
                    </div>
                  </ul>
                </div>
              </ol>
            </div>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <!--<div class="row">-->
    <div class="col-md-4 col-sm-6" ng-repeat="grafico in graficos | orderBy: 'series':'false'">
      <div class="x_panel link" data-toggle="modal" data-target=".graficoModal"  ng-click="onClick(grafico)">
        <div align="right"  style="float: right">
          <categoria ng-if="filtro.sucursal!='Todas'">{{filtro.sucursal}} | </categoria> {{filtro.anio}}
        </div>
        <div class="x_title">
          {{grafico.series}}
        </div>
        <canvas class="chart chart-bar" chart-data="grafico.data" chart-labels="grafico.labels" chart-series="grafico.series"></canvas>
      </div>
    </div>
  <!--</div>-->

  <div class="modal fade graficoModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="x_title">
            <h2>{{graficoModal.series}}</h2>
            <categoria ng-if="filtro.sucursal!='Todas'">{{filtro.sucursal}} | </categoria> {{filtro.anio}}
          </div>
        </div>
        <div class="modal-body">
          <canvas class="chart chart-bar" chart-data="graficoModal.data" chart-labels="graficoModal.labels" chart-series="graficoModal.series"></canvas>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" type="button" class="btn btn-default">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
