<section data-ng-init='find()'>
  <div class="" style="float: right;">
    <button class="btn btn-default" data-toggle="modal" data-target=".modalNewProveedor" type="button" name="button" ng-click="initNuevo()">Nuevo Proveedor</button>
  </div>
  <div class="x_panel">
    <div class="x_content">
      <div class="x_title">
        <h2>Proveedores</h2>
      </div>
      <table class="table table-bordered" datatable='ng'>
        <thead>
          <tr class="active">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Razón Social</th>
            <th>Cédula</th>
            <th>Ruc</th>
          </tr>
        </thead>
        <tbody>
          <tr class="filaLink" data-toggle="modal" data-target=".modalViewProveedor" data-ng-click="ver(proveedor)" ng-repeat="proveedor in proveedores">
            <td ng-bind="proveedor.nombre"></td>
            <td ng-bind="proveedor.apellido"></td>
            <td ng-bind="proveedor.razons"></td>
            <td ng-bind="proveedor.cedula"></td>
            <td ng-bind="proveedor.ruc"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade modalNewProveedor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg"  role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Nuevo Proveedor</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                <label><small>Nombre:</small></label>
                <input type="text" class="form-control border-input" placeholder="Nombre" data-ng-model="proveedor.nombre" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode==32)||(event.charCode==225)||(event.charCode==233)||(event.charCode==237)||(event.charCode==243)||(event.charCode==250)||(event.charCode==241)||(event.charCode==209)||(event.charCode==193)||(event.charCode==201)||(event.charCode==205)||(event.charCode==211)||(event.charCode==218)||(event.charCode==209)">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                <label><small>Apellido:</small></label>
                <input type="text" class="form-control border-input" placeholder="Apellido" data-ng-model="proveedor.apellido" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode==32)||(event.charCode==225)||(event.charCode==233)||(event.charCode==237)||(event.charCode==243)||(event.charCode==250)||(event.charCode==241)||(event.charCode==209)||(event.charCode==193)||(event.charCode==201)||(event.charCode==205)||(event.charCode==211)||(event.charCode==218)||(event.charCode==209)">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label><small>Razón Social:</small></label>
                <input type="text" class="form-control border-input" placeholder="Razón Social" data-ng-model="proveedor.razons" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode==32)||(event.charCode==225)||(event.charCode==233)||(event.charCode==237)||(event.charCode==243)||(event.charCode==250)||(event.charCode==241)||(event.charCode==209)||(event.charCode==193)||(event.charCode==201)||(event.charCode==205)||(event.charCode==211)||(event.charCode==218)||(event.charCode==209)">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                <label><small>Cédula:</small></label>
                <input type="text" class="form-control border-input" placeholder="Cédula" data-ng-model="proveedor.cedula" maxlength="10" onkeypress="return event.charCode>47 && event.charCode<58">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                <label><small>Ruc:</small></label>
                <input type="text" class="form-control border-input" placeholder="Ruc" data-ng-model="proveedor.ruc" maxlength="13" onkeypress="return event.charCode>47 && event.charCode<58">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" ng-click="guardarProveedor(proveedor);">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modalViewProveedor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg"  role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Proveedor</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                <label><small>Nombre:</small></label>
                <input type="text" class="form-control border-input" placeholder="Nombre" data-ng-model="proveedor.nombre" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode==32)||(event.charCode==225)||(event.charCode==233)||(event.charCode==237)||(event.charCode==243)||(event.charCode==250)||(event.charCode==241)||(event.charCode==209)||(event.charCode==193)||(event.charCode==201)||(event.charCode==205)||(event.charCode==211)||(event.charCode==218)||(event.charCode==209)" readonly>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                <label><small>Apellido:</small></label>
                <input type="text" class="form-control border-input" placeholder="Apellido" data-ng-model="proveedor.apellido" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode==32)||(event.charCode==225)||(event.charCode==233)||(event.charCode==237)||(event.charCode==243)||(event.charCode==250)||(event.charCode==241)||(event.charCode==209)||(event.charCode==193)||(event.charCode==201)||(event.charCode==205)||(event.charCode==211)||(event.charCode==218)||(event.charCode==209)" readonly>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label><small>Razón Social:</small></label>
                <input type="text" class="form-control border-input" placeholder="Razón Social" data-ng-model="proveedor.razons" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode==32)||(event.charCode==225)||(event.charCode==233)||(event.charCode==237)||(event.charCode==243)||(event.charCode==250)||(event.charCode==241)||(event.charCode==209)||(event.charCode==193)||(event.charCode==201)||(event.charCode==205)||(event.charCode==211)||(event.charCode==218)||(event.charCode==209)" readonly>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                <label><small>Cédula:</small></label>
                <input type="text" class="form-control border-input" placeholder="Cédula" data-ng-model="proveedor.cedula" maxlength="10" onkeypress="return event.charCode>47 && event.charCode<58" readonly>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                <label><small>Ruc:</small></label>
                <input type="text" class="form-control border-input" placeholder="Ruc" data-ng-model="proveedor.ruc" maxlength="13" onkeypress="return event.charCode>47 && event.charCode<58" readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button class="btn btn-danger" ng-click="eliminar(proveedor);">Eliminar</button>
          <button data-dismiss="modal" data-toggle="modal" data-target=".modalEditProveedor" type="button" class="btn btn-primary" ng-click="editar(proveedor);">Editar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modalEditProveedor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg"  role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Editar Proveedor</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                <label><small>Nombre:</small></label>
                <input type="text" class="form-control border-input" placeholder="Nombre" data-ng-model="proveedor.nombre" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode==32)||(event.charCode==225)||(event.charCode==233)||(event.charCode==237)||(event.charCode==243)||(event.charCode==250)||(event.charCode==241)||(event.charCode==209)||(event.charCode==193)||(event.charCode==201)||(event.charCode==205)||(event.charCode==211)||(event.charCode==218)||(event.charCode==209)">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                <label><small>Apellido:</small></label>
                <input type="text" class="form-control border-input" placeholder="Apellido" data-ng-model="proveedor.apellido" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode==32)||(event.charCode==225)||(event.charCode==233)||(event.charCode==237)||(event.charCode==243)||(event.charCode==250)||(event.charCode==241)||(event.charCode==209)||(event.charCode==193)||(event.charCode==201)||(event.charCode==205)||(event.charCode==211)||(event.charCode==218)||(event.charCode==209)">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label><small>Razón Social:</small></label>
                <input type="text" class="form-control border-input" placeholder="Razón Social" data-ng-model="proveedor.razons" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode==32)||(event.charCode==225)||(event.charCode==233)||(event.charCode==237)||(event.charCode==243)||(event.charCode==250)||(event.charCode==241)||(event.charCode==209)||(event.charCode==193)||(event.charCode==201)||(event.charCode==205)||(event.charCode==211)||(event.charCode==218)||(event.charCode==209)">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                <label><small>Cédula:</small></label>
                <input type="text" class="form-control border-input" placeholder="Cédula" data-ng-model="proveedor.cedula" maxlength="10" onkeypress="return event.charCode>47 && event.charCode<58">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group">
                <label><small>Ruc:</small></label>
                <input type="text" class="form-control border-input" placeholder="Ruc" data-ng-model="proveedor.ruc" maxlength="13" onkeypress="return event.charCode>47 && event.charCode<58">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" ng-click="actualizarProveedor(proveedor);">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
</section>
