<section data-ng-init="init()">
  <div class="row">
    <div class="container">
      <div style="float: right">
        <button class="btn btn-sm btn-default" data-toggle="modal" data-target=".modalNuevoOperario">Nuevo Operario</button>
      </div>
    </div>
  </div>
  <div class="x_panel">
    <div class="x_content">
      <div class="x_title">
        <h2>Operarios</h2>
        <div class="clearfix"></div>
      </div>
      <!--<div style="overflow-x:auto;">-->
        <table id="datatable-buttons" datatable='ng' class="table table-bordered">
          <thead>
            <tr class="active">
              <th>#</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Fecha de Ingreso</th>
              <th>Empresa</th>
              <th>Local/Dep</th>
              <th>Correo Electrónico</th>
            </tr>
          </thead>
          <tbody>
            <tr class="filaLink" data-ng-click="go(caja)" data-ng-repeat="usuario in usuarios">
              <th class="text-right" scope="row">{{$index + 1}}</th>
              <td>{{usuario.firstName}}</td>
              <td>{{usuario.lastName}}</td>
              <td>{{usuario.creado | date: "dd'-'MMMM'-'y"}}</td>
              <td>{{usuario.empresa.nombre}}</td>
              <td>{{usuario.sucursal.tipo}} {{usuario.sucursal.nombre}}</td>
              <td>{{usuario.usuario}}@burgerkingec.com.ec</td>
            </tr>
          </tbody>
        </table>
      <!--</div>-->
    </div>
  </div>
</section>

<div class="modal fade modalNuevoOperario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" ng-init="initRegistro()">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Operario</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <input data-ng-model="newUsuario.firstName" type="text" class="form-control" placeholder="Nombres" required="" />
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <input data-ng-model="newUsuario.lastName" type="text" class="form-control" placeholder="Apellidos" required="" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
            <input data-ng-model="newUsuario.usuario" type="text" class="form-control" placeholder="Usuario" required="" style="text-transform: lowercase;" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h6>@burgerkingec.com.ec</h6>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <input data-ng-model="newUsuario.password" type="password" class="form-control" placeholder="Contraseña" required="" />
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <input data-ng-model="passwordConfirm" type="password" class="form-control" placeholder="Repita la contraseña" required="" />
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
            <select data-ng-model="newUsuario.empresa" class="form-control" ng-change="getSucursales()">
              <option value="">Elija una Empresa</option>
              <option ng-value="empresa._id" ng-repeat="empresa in empresas">{{empresa.nombre}}</option>
            </select>
          </div>
          <br>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group" ng-show="newUsuario.empresa">
            <select data-ng-model="newUsuario.sucursal" class="form-control">
              <option value="">Locales/Departamentos</option>
              <option ng-value="sucursal._id" ng-repeat="sucursal in sucursales">{{sucursal.tipo}} {{sucursal.nombre}}</option>
            </select>
          </div>

          <!--<div>
            <input data-ng-model="newUsuario.tipo" type="text" class="form-control" placeholder="tipo" required="" />
          </div>-->

          <br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="registrar()">Guardar</button>
      </div>
    </div>
  </div>
</div>
