<section data-ng-init="init()">
  <div class="row">
    <div class="container">
      <div style="float: right">
        <button class="btn btn-sm btn-default" data-toggle="modal" data-target=".modalNuevoAdministrador" ng-click="inicializarAdministrador()"><i class="fa fa-plus"></i> Nuevo Administrador</button>
      </div>
    </div>
  </div>
  <div class="x_panel">
    <div class="x_content">
      <div class="x_title">
        <h2>Administradores</h2>
        <div class="clearfix"></div>
      </div>
      <!--<div style="overflow-x:auto;">-->
        <table id="datatable-buttons" datatable='ng' class="table table-bordered">
          <thead>
            <tr class="active">
              <th>#</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Fecha de Ingreso</th>
              <th>Empresa</th>
              <th>Local/Dep</th>
              <th>Correo Electrónico</th>
            </tr>
          </thead>
          <tbody>
            <tr class="filaLink" data-toggle="modal" data-target=".modalViewAdministrador" data-ng-click="view(usuario)" data-ng-repeat="usuario in usuarios">
              <th class="text-right" scope="row">{{$index + 1}}</th>
              <td>{{usuario.firstName}}</td>
              <td>{{usuario.lastName}}</td>
              <td>{{usuario.creado | date: "dd'-'MMMM'-'y"}}</td>
              <td>{{usuario.empresa.nombre}}</td>
              <td>{{usuario.sucursal.tipo}} {{usuario.sucursal.nombre}}</td>
              <td>{{usuario.usuario}}@burgerkingec.com.ec</td>
            </tr>
          </tbody>
        </table>
      <!--</div>-->
    </div>
  </div>
</section>

<div class="modal fade modalNuevoAdministrador" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Administrador</h4>
      </div>
      <form data-ng-submit="registrar()" novalidate>
        <div class="modal-body">
          <section ng-include="'app_Angular/Super/views/form_administradores.view.html'"></section>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary submit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade modalViewAdministrador" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Administrador</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label><small>Nombres</small></label>
              <input data-ng-model="administrador.firstName" type="text" class="form-control" placeholder="Nombres" required="" readonly/>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label><small>Apellidos</small></label>
              <input data-ng-model="administrador.lastName" type="text" class="form-control" placeholder="Apellidos" required="" readonly/>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label><small>Usuario</small></label>
              <input ng-value="administrador.usuario+'@burgerkingec.com.ec'" type="text" class="form-control" placeholder="Correo" required="" readonly/>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label><small>Empresa</small></label>
              <input data-ng-model="administrador.empresa.nombre" type="text" class="form-control" placeholder="Empresa" required="" readonly/>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label><small>Sucursal</small></label>
              <input ng-value="administrador.sucursal.tipo+' '+administrador.sucursal.nombre" type="text" class="form-control" placeholder="Empresa" required="" readonly/>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="eliminar()">Eliminar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target=".modalEditarAdministrador" data-ng-click="initEditarAdministrador(administrador)">Editar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modalEditarAdministrador" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Administrador</h4>
      </div>
      <form data-ng-submit="actualizar()" novalidate>
        <div class="modal-body">
          <section ng-include="'app_Angular/Super/views/form_administradores.view.html'"></section>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary submit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
