<section data-ng-init="init()">
  <div class="x_panel">
    <div class="x_title">
      <h2>{{getSucursal()}}{{getCategoria()}}{{getDate()}}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table id="datatable-buttons" class="table table-bordered">
        <thead>
          <tr class="active">
            <th>Fecha</th>
            <th>Factura</th>
            <th ng-if="sucursal == 'Todas'">Sucursal</th>
            <th>Pagado a</th>
            <th ng-if="categoria == 'Todas'">Categoria</th>
            <th>Descripción</th>
            <th>Aprobado por</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr class="filaLink" data-ng-click="" data-ng-repeat="detalle in detalles">
            <td>{{detalle.fecha | date: "dd'-'MMMM'-'y"}}</td>
            <td><div ng-if="detalle.tipo == 'factura'">{{detalle.anexo.fac_establecimiento}}-{{detalle.anexo.fac_puntoEmision}}-{{detalle.anexo.fac_secuencia}}</div><div ng-if="detalle.tipo == 'vale'">Vale de pago</div></td>
            <td ng-if="sucursal == 'Todas'" data-ng-bind="detalle.cargado"></td>
            <td data-ng-bind="detalle.entregado"></td>
            <td ng-if="categoria == 'Todas'" data-ng-bind="detalle.categoria"></td>
            <td data-ng-bind="detalle.descripcion"></td>
            <td>{{detalle.administrador.firstName}} {{detalle.administrador.lastName}}</td>
            <td class="text-right" data-ng-bind="detalle.valor | currency"></td>
          </tr>
        </tbody>
      </table>
      <h4 style="float: right;">total {{total | currency}}</h4>
    </div>
  </div>
</section>
