<div class="x_panel">
  <div class="x_content">
    <div class="x_title">
      <h2>Cambiar la Contraseña</h2>
      <div class="clearfix"></div>
    </div>
    <form>
      <div class="form-group">
        <label for="passwordActual">Contraseña Actual</label>
        <input data-ng-model="body.nowPassword" type="password" class="form-control" id="passwordActual" placeholder="Contraseña Actual">
        <small id="emailHelp" class="form-text text-muted">Ingrese la contraseña Actual</small>
      </div>
      <div class="form-group">
        <label for="nuevoPassword">Nueva Contraseña</label>
        <input data-ng-model="body.newPassword" type="password" class="form-control" id="nuevoPassword" placeholder="Nueva Contraseña">
        <small id="emailHelp" class="form-text text-muted">Ingrese la nueva contraseña</small>
      </div>
      <div class="form-group">
        <label for="nuevoPassword">Repita la Contraseña</label>
        <input data-ng-model="newPasswordRepet" type="password" class="form-control" id="nuevoPassword" placeholder="Repita Contraseña">
        <small id="emailHelp" class="form-text text-muted">Ingrese nuevamente la contraseña</small>
      </div>
      <button type="submit" ng-click="actualizar()" class="btn btn-primary">Actualizar</button>
    </form>
  </div>
</div>
