<div class="" ng-init="init()">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="btn-group">
        <button data-ng-click="back()" class="btn btn-sm btn-default" type="button"><i class="fa fa-reply"></i> Atrás</button>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="btn-group"n style="float: right;">
        <a class="btn btn-sm btn-default" ng-click="printDiv('#detallesByCelda', 'Detalles '+ data.nombre+' '+nameMes+' del '+data.anio)"><i class="fa fa-print"></i> Imprimir</a>
      </div>
    </div>
  </div>
  <div id="detallesByCelda" class="x_panel">
    <div align="right">
      {{ today | date: "'Guayaquil, 'd' de ' MMMM ' del ' y"}}
    </div>
    <div class="x_title">
      <h2>{{data.nombre}} {{nameMes}} del {{data.anio}}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div style="overflow-x:auto">
        <table class="table table-bordered" ng-init="filtro='fecha';reverse='false'">
          <thead>
            <tr class="active">
              <th class="filaLink" ng-click="filtro='fecha';reverse = !reverse">Fecha</th>
              <th class="filaLink" ng-click="filtro='tipo';reverse = !reverse">Factura</th>
              <th class="filaLink" ng-click="filtro='entregado';reverse = !reverse">Pagado a</th>
              <th class="filaLink" ng-click="filtro='categoria';reverse = !reverse">Departamento/Locales</th>
              <th class="filaLink" ng-click="filtro='descripcion';reverse = !reverse">Descripción</th>
              <th class="filaLink" ng-click="filtro='cargado';reverse = !reverse">Aprobado por</th>
              <th class="filaLink" ng-click="filtro='valor';reverse = !reverse">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr class="filaLink" data-ng-click="go(detalle.caja,detalle)" data-ng-repeat="detalle in detalles | orderBy:filtro:reverse">
              <td>{{detalle.fecha | date: "dd'-'MMMM'-'y"}}</td>
              <td><div ng-if="detalle.tipo == 'factura'">{{detalle.anexo.fac_establecimiento}}-{{detalle.anexo.fac_puntoEmision}}-{{detalle.anexo.fac_secuencia}}</div><div ng-if="detalle.tipo == 'vale'">Vale de pago</div></td>
              <td data-ng-bind="detalle.entregado"></td>
              <td data-ng-bind="detalle.cargado"></td>
              <td data-ng-bind="detalle.descripcion"></td>
              <td>{{detalle.administrador.firstName}} {{detalle.administrador.lastName}}</td>
              <td class="text-right" data-ng-bind="detalle.valor | currency"></td>
            </tr>
          </tbody>
        </table>
        <h4 style="float: right;">Total: {{total | currency}}</h4>
      </div>
    </div>
  </div>
</div>
