<div data-ng-init="init()">
  <div class="row">
    <div class="">
      <div class="title">
        <h3>Reporte por Locales/Departamentos</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-12">
      <div class="form-group">
        <label>Año:</label>
        <select class="form-control" ng-model="filtro.anio" ng-change="updateCategorias()">
          <option value="">Elija el año</option>
          <option ng-value="anio._id" ng-repeat="anio in anios">{{anio._id}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
      <div class="form-group">
        <label>Categoria:</label>
        <select class="form-control" ng-model="filtro.categoria" ng-change="generarReporte()">
          <option value="Todas">Todas</option>
          <option ng-value="categoria._id" ng-repeat="categoria in categorias">{{categoria._id}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-5 col-sm-4 col-xs-12">
      <div class="btn-group" style="float:right">
        <a class="btn btn-sm btn-default" ng-click="exportExcel('IdReporteXLocal', 'Locales-Departamentos')"><i class="fa fa-file-excel-o"></i> Exportar</a>
        <a class="btn btn-sm btn-default" ng-click="printDiv('#IdReporteXLocal', 'Locales-Departamentos')"><i class="fa fa-print"></i> Imprimir</a>
      </div>
    </div>
  </div>

  <div id="IdReporteXLocal" class="x_panel">
      <div align="right">
        {{ today | date: "'Guayaquil, 'd' de ' MMMM ' del ' y"}}
      </div>
      <div class="x_title">
        <h2>Reporte por Locales/Departamentos</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div>
          <h4><b>Año:</b> {{filtro.anio}} <b>Categoria:</b> {{filtro.categoria}}</h4>
        </div>
        <div style="overflow-x:auto;">
          <table class="table table-bordered" ng-init="filtroTable='sucursal';reverse='false'">
            <thead>
              <tr class="success">
                <th class="filaLink" ng-click="filtroTable='sucursal';reverse = !reverse">Locales <br> Departamentos</th>
                <th class="filaLink" ng-click="filtroTable='ene';reverse = !reverse">Ene</th>
                <th class="filaLink" ng-click="filtroTable='feb';reverse = !reverse">Feb</th>
                <th class="filaLink" ng-click="filtroTable='mar';reverse = !reverse">Mar</th>
                <th class="filaLink" ng-click="filtroTable='abr';reverse = !reverse">Abr</th>
                <th class="filaLink" ng-click="filtroTable='may';reverse = !reverse">May</th>
                <th class="filaLink" ng-click="filtroTable='jun';reverse = !reverse">Jun</th>
                <th class="filaLink" ng-click="filtroTable='jul';reverse = !reverse">Jul</th>
                <th class="filaLink" ng-click="filtroTable='ago';reverse = !reverse">Ago</th>
                <th class="filaLink" ng-click="filtroTable='sep';reverse = !reverse">Sep</th>
                <th class="filaLink" ng-click="filtroTable='oct';reverse = !reverse">Oct</th>
                <th class="filaLink" ng-click="filtroTable='nov';reverse = !reverse">Nov</th>
                <th class="filaLink" ng-click="filtroTable='dic';reverse = !reverse">Dic</th>
                <th class="filaLink" ng-click="filtroTable='total';reverse = !reverse">Acum</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="fila in tabla | orderBy:filtroTable:reverse">
                <td class="success" data-ng-bind="fila.sucursal"></td>
                <td class="text-right filaLink" ng-click="verDetallesCelda('local',filtro.anio,fila.sucursal,1,fila.ene)" data-ng-bind="fila.ene | currency"></td>
                <td class="text-right filaLink" ng-click="verDetallesCelda('local',filtro.anio,fila.sucursal,2,fila.feb)" data-ng-bind="fila.feb | currency"></td>
                <td class="text-right filaLink" ng-click="verDetallesCelda('local',filtro.anio,fila.sucursal,3,fila.mar)" data-ng-bind="fila.mar | currency"></td>
                <td class="text-right filaLink" ng-click="verDetallesCelda('local',filtro.anio,fila.sucursal,4,fila.abr)" data-ng-bind="fila.abr | currency"></td>
                <td class="text-right filaLink" ng-click="verDetallesCelda('local',filtro.anio,fila.sucursal,5,fila.may)" data-ng-bind="fila.may | currency"></td>
                <td class="text-right filaLink" ng-click="verDetallesCelda('local',filtro.anio,fila.sucursal,6,fila.jun)" data-ng-bind="fila.jun | currency"></td>
                <td class="text-right filaLink" ng-click="verDetallesCelda('local',filtro.anio,fila.sucursal,7,fila.jul)" data-ng-bind="fila.jul | currency"></td>
                <td class="text-right filaLink" ng-click="verDetallesCelda('local',filtro.anio,fila.sucursal,8,fila.ago)" data-ng-bind="fila.ago | currency"></td>
                <td class="text-right filaLink" ng-click="verDetallesCelda('local',filtro.anio,fila.sucursal,9,fila.sep)" data-ng-bind="fila.sep | currency"></td>
                <td class="text-right filaLink" ng-click="verDetallesCelda('local',filtro.anio,fila.sucursal,10,fila.oct)" data-ng-bind="fila.oct | currency"></td>
                <td class="text-right filaLink" ng-click="verDetallesCelda('local',filtro.anio,fila.sucursal,11,fila.nov)" data-ng-bind="fila.nov | currency"></td>
                <td class="text-right filaLink" ng-click="verDetallesCelda('local',filtro.anio,fila.sucursal,12,fila.dic)" data-ng-bind="fila.dic | currency"></td>
                <td class="text-right info" data-ng-bind="fila.total | currency"></td>
              </tr>
              <tr>
                <td class="success">Total por Mes</td>
                <td class="text-right info" data-ng-bind="Ene | currency"></td>
                <td class="text-right info" data-ng-bind="Feb | currency"></td>
                <td class="text-right info" data-ng-bind="Mar | currency"></td>
                <td class="text-right info" data-ng-bind="Abr | currency"></td>
                <td class="text-right info" data-ng-bind="May | currency"></td>
                <td class="text-right info" data-ng-bind="Jun | currency"></td>
                <td class="text-right info" data-ng-bind="Jul | currency"></td>
                <td class="text-right info" data-ng-bind="Ago | currency"></td>
                <td class="text-right info" data-ng-bind="Sep | currency"></td>
                <td class="text-right info" data-ng-bind="Oct | currency"></td>
                <td class="text-right info" data-ng-bind="Nov | currency"></td>
                <td class="text-right info" data-ng-bind="Dic | currency"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6" ng-repeat="grafico in graficos | orderBy: 'series':'false'">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{grafico.series}}</h2>
        </div>
        <canvas class="chart chart-bar" chart-click="onClick" chart-data="grafico.data" chart-labels="grafico.labels" chart-series="grafico.series"></canvas>
      </div>
    </div>
  </div>
</div>
