<div class="x_panel" data-ng-controller="ReporteXSucursalController" data-ng-init="generarReporte()">
  <div class="x_title">
    <h2>Reporte por Locales</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <div style="overflow-x:auto;">
      <table class="table table-bordered">
        <thead>
          <tr class="active">
            <th>Locales</th>
            <th>Ene</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Abr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Ago</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dic</th>
            <th>Acum</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="fila in tabla">
            <td class="active" data-ng-bind="fila.sucursal"></td>
            <td class="text-right" data-ng-bind="fila.ene | currency"></td>
            <td class="text-right" data-ng-bind="fila.feb | currency"></td>
            <td class="text-right" data-ng-bind="fila.mar | currency"></td>
            <td class="text-right" data-ng-bind="fila.abr | currency"></td>
            <td class="text-right" data-ng-bind="fila.may | currency"></td>
            <td class="text-right" data-ng-bind="fila.jun | currency"></td>
            <td class="text-right" data-ng-bind="fila.jul | currency"></td>
            <td class="text-right" data-ng-bind="fila.ago | currency"></td>
            <td class="text-right" data-ng-bind="fila.sep | currency"></td>
            <td class="text-right" data-ng-bind="fila.oct | currency"></td>
            <td class="text-right" data-ng-bind="fila.nov | currency"></td>
            <td class="text-right" data-ng-bind="fila.dic | currency"></td>
            <td class="text-right info" data-ng-bind="fila.total | currency"></td>
          </tr>
          <tr>
            <td class="active">Total X Mes</td>
            <td class="text-right info" data-ng-bind="Ene | currency"></td>
            <td class="text-right info" data-ng-bind="Feb | currency"></td>
            <td class="text-right info" data-ng-bind="Mar | currency"></td>
            <td class="text-right info" data-ng-bind="Abr | currency"></td>
            <td class="text-right info" data-ng-bind="May | currency"></td>
            <td class="text-right info" data-ng-bind="Jun | currency"></td>
            <td class="text-right info" data-ng-bind="Jul | currency"></td>
            <td class="text-right info" data-ng-bind="Ago | currency"></td>
            <td class="text-right info" data-ng-bind="Sep | currency"></td>
            <td class="text-right info" data-ng-bind="Oct | currency"></td>
            <td class="text-right info" data-ng-bind="Nov | currency"></td>
            <td class="text-right info" data-ng-bind="Dic | currency"></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
