<section data-ng-init="init()">

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="btn-group">
          <button data-ng-click="back()" class="btn btn-sm btn-default" type="button"><i class="fa fa-reply"></i> Atrás</button>
          <button ng-show="caja.estado == 'Pendiente'" ng-click="rechazar(caja)" class="btn btn-sm btn-warning" type="button"><i class="fa fa-trash"></i> Rechazar</button>
          <button ng-show="caja.estado == 'Pendiente'" ng-click="aprobar(caja)" class="btn btn-sm btn-primary" type="button"><i class="fa fa-send-o"></i> Aprobar</button>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="btn-group"n style="float: right;">
          <a class="btn btn-sm btn-default" ng-click="printDiv('#reporteDetalles', 'Detalles de la caja')"><i class="fa fa-print"></i> Imprimir</a>
        </div>
      </div>
    </div>


      <div id="reporteDetalles" class="x_panel">
        <div class="x_content">
          <div style="text-align:center">
            REPOSICION {{caja.sucursal.tipo | uppercase }} {{caja.sucursal.nombre}} {{caja.empresa}}
          </div>
          <br>
          <table style="width: 100%;">
            <tr>
              <td><b>FECHA:</b></td>
              <td>{{caja.creado | date: "dd'-'MMMM'-'y"}}</td>
              <td><b>ESTADO:</b></td>
              <td>{{caja.estado}}</td>
            </tr>
            <tr>
              <td><b>CUSTODIO:</b></td>
              <td>{{caja.sucursal.nombre}}</td>
              <td ng-if="caja.administrador"><b>POR:</b></td>
              <td ng-if="caja.administrador">{{caja.administrador.firstName}} {{caja.administrador.lastName}}</td>
            </tr>
          </table>
          <br>
          <div style="overflow-x:auto;">
            <table class="table table-bordered" ng-init="filtro='fecha';reverse='false'">
              <thead>
                <tr class="active">
                  <th class="filaLink" ng-click="filtro='fecha';reverse = !reverse">Fecha</th>
                  <th class="filaLink" ng-click="filtro='tipo';reverse = !reverse">Factura</th>
                  <th class="filaLink" ng-click="filtro='entregado';reverse = !reverse">Pagado a</th>
                  <th class="filaLink" ng-click="filtro='categoria';reverse = !reverse">Categoria</th>
                  <th class="filaLink" ng-click="filtro='descripcion';reverse = !reverse">Descripción</th>
                  <th class="filaLink" ng-click="filtro='cargado';reverse = !reverse">Cargado</th>
                  <th class="filaLink" ng-click="filtro='valor';reverse = !reverse">Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr class="filaLink" data-ng-click="go(caja,detalle)" data-ng-repeat="detalle in detalles | orderBy:filtro:reverse">
                  <td>{{detalle.fecha | date: "dd'-'MMMM'-'y"}}</td>
                  <td><div ng-if="detalle.tipo == 'factura'">{{detalle.anexo.fac_establecimiento}}-{{detalle.anexo.fac_puntoEmision}}-{{detalle.anexo.fac_secuencia}}</div><div ng-if="detalle.tipo == 'vale'">Vale de pago</div></td>
                  <td data-ng-bind="detalle.entregado"></td>
                  <td data-ng-bind="detalle.categoria"></td>
                  <td style="white-space: pre-wrap">{{detalle.descripcion}}</td>
                  <td data-ng-bind="detalle.cargado"></td>
                  <td class="text-right" data-ng-bind="detalle.valor | currency"></td>
                </tr>
              </tbody>
            </table>
            <h4 style="float: right;">Total Caja Chica: {{caja.valor | currency}}</h4>

          </div>
        </div>
      </div>

      <div data-ng-hide="!detalles || detalles.length">
        Aún no hay detalles en la caja chica
      </div>
</section>
