<section class="inicio" data-ng-init="find('BorradorRechazado')">
  <div  class="btn-group" style="float: right;">
    <button type="button" class="btn btn-sm btn-default" ng-click="create()"><i class="fa fa-cube"></i> Crear Caja Chica</button>
  </div>

  <div class="x_panel">
    <div class="x_content">
      <div class="x_title">
        <h2>Creación De Cajas Chicas</h2>
        <!--<ul class="nav navbar-right panel_toolbox">
          <button type="button" class="btn btn-success" ng-click="create()">Crear Caja Chica</button>
        </ul>-->
        <div class="clearfix"></div>
      </div>
      <!--<div style="overflow-x:auto;">-->
        <table id="datatable-buttons" class="table table-bordered">
          <thead>
            <tr class="active">
              <th>#</th>
              <th class="filaLink" ng-click="onFiltro('creado')">Creado <div style="float:right"><i ng-if="!reverse && filtroTable=='creado'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='creado'" class="fa fa-sort-amount-desc"></i></div></th>
              <th class="filaLink" ng-click="onFiltro('valor')">Valor <div style="float:right"><i ng-if="!reverse && filtroTable=='valor'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='valor'" class="fa fa-sort-amount-desc"></i></div></th>
              <th class="filaLink" ng-click="onFiltro('estado')">Estado <div style="float:right"><i ng-if="!reverse && filtroTable=='estado'" class="fa fa-sort-amount-asc"></i><i ng-if="reverse && filtroTable=='estado'" class="fa fa-sort-amount-desc"></i></div></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-class="{'rechazado': caja.estado =='Rechazado'}" class="filaLink" data-ng-click="go(caja)" data-ng-repeat="caja in cajas | orderBy:filtroTable:reverse">
              <th class="text-right" scope="row">{{$index + 1}}</th>
              <td>{{caja.creado | date: "dd'-'MMMM'-'y"}}</td>
              <td class="text-right" data-ng-bind="caja.valor | currency"></td>
              <td data-ng-bind="caja.estado"></td>
            </tr>
          </tbody>
        </table>
      <!--</div>-->
    </div>
  </div>
</section>
