<section data-ng-init="initCreate()">
  <button data-ng-click="back()" class="btn btn-sm btn-default" type="button"><i class="fa fa-reply"></i> Atrás</button>
  <div class="x_panel">
    <div class="x_title">
      <h2>Crear Detalle<small>Formulario de Detalle</small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <form data-parsley-validate data-ng-submit="create()" novalidate class="form-horizontal form-label-left">
        <section ng-include="'app_Angular/General/views/input-detalles.view.html'"></section>
        <div class="form-group">
          <div class="text-center">
            <a class="btn btn-primary" ng-click="back()">Cancelar</a>
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
