<div class="x_panel">
  <div class="x_title">
    <h2>Editar Detalle <small>Formulario de Detalle</small></h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <br />
    <form id="formEditDetalle" data-parsley-validate class="form-horizontal form-label-left" data-ng-submit="update()" novalidate>

      <section ng-include="'app_Angular/General/views/input-detalles.view.html'"></section>
      <div class="form-group">
        <div class="text-center">
          <a class="btn btn-primary" ng-click="showPanelTableDetalles()">Cancelar</a>
          <button type="submit" class="btn btn-success">Actualizar</button>
        </div>
      </div>
    </form>
  </div>
</div>
