<!--Radio Buttons de Factura y Vale -->
<div ng-init="initForm()">
  <div class="col-md-12 col-sm-12 col-xs-12 row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" checked="" value="factura" id="optionsRadios1" name="optionsRadios" data-ng-model="detalle.tipo" ng-change="actualizarDatos()"> Factura
          </label>
          <label>
            <input type="radio" value="vale" id="optionsRadios2" name="optionsRadios" data-ng-model="detalle.tipo"  ng-change="actualizarDatos()"> Vale de Pago
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 row">
    <hr>
  </div>

  <!--Factura-->
  <div class="col-md-12 col-sm-12 col-xs-12 row" ng-show="detalle.tipo == 'factura'">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2><strong>Factura</strong></h2>
    </div>
    <div class="col-md-12">
      <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="form-group">
          <label><small>Establec</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Establecimiento" maxlength="3" data-ng-model="detalle.anexo.fac_establecimiento" onchange="mask_account(this,3);" onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="form-group">
          <label><small>Emisión</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Pto. Emisión" maxlength="3" data-ng-model="detalle.anexo.fac_puntoEmision" onchange="mask_account(this,3);" onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="form-group">
          <label><small>Secuencia</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Secuencia" maxlength="9" data-ng-model="detalle.anexo.fac_secuencia" onchange="mask_account(this,9);" onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-5 col-sm-4 col-xs-12">
        <div class="form-group">
          <label><small>Autorización</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Autorización" maxlength="50" data-ng-model="detalle.anexo.fac_autorizacion" onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
          <label><small>Proveedor</small></label>
          <input data-toggle="modal" data-target=".modalProveedores" type="text" class="form-control border-input" placeholder="Proveedor" data-ng-model="detalle.anexo.proveedor.nombre" readonly="true">
          <!--<label><small>Proveedor:</small></label>
          <ui-select data-ng-model="detalle.anexo.proveedor" theme="select2" class="form-control">
            <ui-select-match placeholder="Elige un Proveedor">{{$select.selected.nombre}}</ui-select-match>
            <ui-select-choices repeat="proveedor in proveedores | filter: $select.search">
              <div ng-bind-html="proveedor.nombre | highlight: $select.search"></div><br>
              <small>Ced:</small><small ng-bind-html="proveedor.cedula | highlight: $select.search"></small><br>
              <small>Ruc:</small><small ng-bind-html="proveedor.ruc | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>-->
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="form-group">
          <label><small>SubTotal</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="SubTotal" data-ng-model="detalle.anexo.subTotal" ng-change="updateTotal()" onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="form-group">
          <label><small>IVA 12%</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="IVA 12%" data-ng-model="detalle.anexo.iva" readonly="true">
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12">
        <div class="form-group">
          <label><small>Total</small></label>
          <input type="number" readonly="true" class="form-control text-right" data-ng-model="detalle.anexo.total"/>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12">
        <label>
          <input type="checkbox" name="checkboxRetencion" data-ng-model='detalle.anexo.retencion' ng-change="updateTotal()"/> Aplicar Retención
        </label>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12">
        <label>
          <input type="checkbox" name="checkboxRetencion" data-ng-model='detalle.anexo.noObjetoIVA' ng-change="updateTotal()"/> No Objeto de IVA
        </label>
      </div>
    </div>
    <!--Retención-->
    <div class="col-md-12" ng-show='detalle.anexo.retencion'>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2><strong>Retención</strong></h2>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="form-group">
          <label><small>Establec</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Establecimiento" maxlength="3" data-ng-model="detalle.anexo.ret_establecimiento" onchange="mask_account(this,3);" onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="form-group">
          <label><small>Emisión</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Pto. Emisión" maxlength="3" data-ng-model="detalle.anexo.ret_puntoEmision" onchange="mask_account(this,3);"onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="form-group">
          <label><small>Secuencia</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Secuencia" maxlength="9" data-ng-model="detalle.anexo.ret_secuencia" onchange="mask_account(this,9);"onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-5 col-sm-4 col-xs-12">
        <div class="form-group">
          <label><small>Autorización</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Autorización" maxlength="50" data-ng-model="detalle.anexo.ret_autorizacion" onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-12">
        <div class="form-group">
          <label><small>Porcentaje Retención</small></label>
          <select class="form-control" data-ng-model="detalle.anexo.selectRetencion"  ng-change="updateTotal()">
            <option value="1-30">1%-30%</option>
            <option value="2-70">2%-70%</option>
            <option value="1">1%</option>
            <option value="2">2%</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6"  ng-show="detalle.anexo.retencionSubTotalBienes != 0">
        <div class="form-group">
          <label><small>SubTotal Bienes 1%</small></label>
          <input type="text" readonly="readonly" class="form-control text-right" data-ng-model="detalle.anexo.retencionSubTotalBienes"/>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6" ng-show="detalle.anexo.retencionIVABienes != 0">
        <div class="form-group">
          <label><small>IVA Bienes 30%</small></label>
          <input type="text" readonly="readonly" class="form-control text-right" data-ng-model="detalle.anexo.retencionIVABienes"/>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6" ng-show="detalle.anexo.retencionSubTotalServicios != 0">
        <div class="form-group">
          <label><small>subTotal Servicios 2%</small></label>
          <input type="text" readonly="readonly" class="form-control text-right" data-ng-model="detalle.anexo.retencionSubTotalServicios"/>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6" ng-show="detalle.anexo.retencionIVAServicios != 0">
        <div class="form-group">
          <label><small>IVA Servicios 70%</small></label>
          <input type="text" readonly="readonly" class="form-control text-right" data-ng-model="detalle.anexo.retencionIVAServicios"/>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-12">
        <div class="form-group">
          <label><small>Total Retención</small></label>
          <input type="text" readonly="readonly" placeholder="Total Ret." class="form-control text-right" data-ng-model="detalle.anexo.totalRetencion"/>
        </div>
      </div>
    </div>
  </div>

  <!-- Vale de Pago -->
  <div ng-show="detalle.tipo == 'vale'" class="col-md-12 col-sm-12 col-xs-12 row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2><strong>Vale de Pago</strong></h2>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <div class="form-group">
        <label><small>Valor</small></label>
        <input type="text" class="form-control border-input text-right" placeholder="Valor de Vale" data-ng-model="detalle.valor" onkeypress="return event.charCode>47 && event.charCode<58">
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 row">
    <hr>
  </div>
  <!-- DETALLES -->

  <div class="col-md-12 col-sm-12 col-xs-12 row">

    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <label><small>Fecha dd/mm/aaaa</small></label>
        <input type="date" class="form-control" data-ng-model="detalle.fecha">
      </div>
    </div>

    <div class="col-md-5 col-sm-5 col-xs-12">
      <div class="form-group">
        <label><small>Entregado A:</small></label>
        <input placeholder="Entregado A " type="text" class="form-control" data-ng-model="detalle.entregado" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode>7&&event.charCode<9)||(event.charCode>31&&event.charCode<33)"/>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <label class="control-label"><small>Cargado A:</small></label>
        <select data-ng-model="detalle.cargado" class="form-control">
          <option value="">Elija una sucursal</option>
          <option ng-value="sucursal.nombre" ng-repeat="sucursal in sucursales">{{sucursal.nombre}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <label><small>Categoria:</small></label>
        <select data-ng-model="detalle.categoria" class="form-control">
          <option value="">Elija una Categoria</option>
          <option ng-value="categoria.nombre" ng-repeat="categoria in categorias">{{categoria.nombre}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="form-group">
        <label><small>Descripción:</small></label>
        <input placeholder="Descripción" type="text" class="form-control" data-ng-model="detalle.descripcion"/>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 row">
    <hr>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 row">
    <div class="form-group col-md-offset-5">
      <label class="control-label col-md-2 col-sm-2 col-xs-12">TOTAL FINAL</label>
      <div class="col-md-2 col-sm-2 col-xs-12">
        <h3>{{detalle.valor | currency}}</h3>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <hr/>
</div>

<div class="modal fade modalProveedores" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Proveedores</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-12">
            <label>Buscar:</label>
          </div>
          <div class="col-md-10 col-sm-8 col-xs-12">
            <input type="text" class="form-control" name="" value="" ng-model="buscador">
          </div>
        </div>
        <br>
        <div style="overflow-x:auto;">
          <table class="table table-bordered">
            <thead>
              <tr class="active">
                <th>nombre</th>
                <th>apellido</th>
                <th>razons</th>
                <th>cedula</th>
                <th>ruc</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-click="asignar(proveedor)" style="cursor: pointer" ng-repeat="proveedor in proveedores |filter:buscador">
                <td ng-bind="proveedor.nombre"></td>
                <td ng-bind="proveedor.apellido"></td>
                <td ng-bind="proveedor.razons"></td>
                <td ng-bind="proveedor.cedula"></td>
                <td ng-bind="proveedor.ruc"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  var mask_account =  function (field_account, num){
    var qty_chars = field_account.value.length;
    var zeros = ''
    for (i=0; i < num - qty_chars; i++ ){
        zeros= zeros + '0';
    }
    var new_value = zeros + field_account.value;
    field_account.value = new_value;
  }

</script>
