<!--Radio Buttons de Factura y Vale -->
<div ng-init="initForm()">
  <div class="col-md-12 col-sm-12 col-xs-12 row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" checked="" value="factura" id="optionsRadios1" name="optionsRadios" data-ng-model="detalle.tipo" ng-change="actualizarDatos()"> Factura
          </label>
          <label>
            <input type="radio" value="vale" id="optionsRadios2" name="optionsRadios" data-ng-model="detalle.tipo"  ng-change="actualizarDatos()"> Vale de Pago
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 row">
    <hr>
  </div>

  <!--Factura-->
  <div class="col-md-12 col-sm-12 col-xs-12 row" ng-show="detalle.tipo == 'factura'">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2><strong>Factura</strong></h2>
    </div>
    <div class="col-md-12">
      <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="form-group">
          <label><small>Establec</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Establecimiento" maxlength="3" data-ng-model="detalle.anexo.fac_establecimiento" onchange="mask_account(this,3);" onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="form-group">
          <label><small>Emisión</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Pto. Emisión" maxlength="3" data-ng-model="detalle.anexo.fac_puntoEmision" onchange="mask_account(this,3);" onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="form-group">
          <label><small>Secuencia</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Secuencia" maxlength="9" data-ng-model="detalle.anexo.fac_secuencia" onchange="mask_account(this,9);" onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-5 col-sm-4 col-xs-12">
        <div class="form-group">
          <label><small>Autorización</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Autorización" maxlength="50" data-ng-model="detalle.anexo.fac_autorizacion" onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="form-group">
          <label><small>SubTotal base 0</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="SubTotal base 0" data-ng-model="detalle.anexo.subTotal0" ng-change="updateTotal()" onkeypress="return (event.charCode>47 && event.charCode<58) || event.charCode==46"/>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="form-group">
          <label><small>SubTotal base 12%</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="SubTotal base 12%" data-ng-model="detalle.anexo.subTotalIva" ng-change="updateTotal()" onkeypress="return (event.charCode>47 && event.charCode<58) || event.charCode==46"/>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="form-group">
          <label><small>IVA 12%</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="IVA 12%" ng-value="detalle.anexo.iva | currency" readonly="true">
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12">
        <div class="form-group">
          <label><small>Total</small></label>
          <input type="text" readonly="true" class="form-control text-right" ng-value="detalle.anexo.total | currency">
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <label>
          <input type="checkbox" name="checkboxRetencion" data-ng-model='detalle.anexo.retencion' ng-change="updateTotal()"/> Aplicar Retención
        </label>
      </div>
    </div>
    <!--Retención-->
    <div class="col-md-12" ng-show='detalle.anexo.retencion'>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2><strong>Retención</strong></h2>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="form-group">
          <label><small>Establec</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Establecimiento" maxlength="3" data-ng-model="detalle.anexo.ret_establecimiento" onchange="mask_account(this,3);" onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="form-group">
          <label><small>Emisión</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Pto. Emisión" maxlength="3" data-ng-model="detalle.anexo.ret_puntoEmision" onchange="mask_account(this,3);"onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="form-group">
          <label><small>Secuencia</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Secuencia" maxlength="9" data-ng-model="detalle.anexo.ret_secuencia" onchange="mask_account(this,9);"onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-5 col-sm-4 col-xs-12">
        <div class="form-group">
          <label><small>Autorización</small></label>
          <input type="text" class="form-control border-input text-right" placeholder="Autorización" maxlength="50" data-ng-model="detalle.anexo.ret_autorizacion" onkeypress="return event.charCode>47 && event.charCode<58">
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-12">
        <div class="form-group">
          <label><small>Porcentaje Retención</small></label>
          <select class="form-control" data-ng-model="detalle.anexo.selectRetencion"  ng-change="updateTotal()">
            <option value="1-30">1%-30%</option>
            <option value="2-70">2%-70%</option>
            <option value="8-100">8%-100%</option>
            <option value="1">1%</option>
            <option value="2">2%</option>
            <option value="8">8%</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6"  ng-show="detalle.anexo.retencionSubTotalOcho != 0">
        <div class="form-group">
          <label><small>SubTotal retención 8%</small></label>
          <input type="text" readonly="readonly" class="form-control text-right" ng-value="detalle.anexo.retencionSubTotalOcho | currency"/>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6" ng-show="detalle.anexo.retencionIVAcien != 0">
        <div class="form-group">
          <label><small>IVA retención 100%</small></label>
          <input type="text" readonly="readonly" class="form-control text-right" ng-value="detalle.anexo.retencionIVAcien | currency"/>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6"  ng-show="detalle.anexo.retencionSubTotalBienes != 0">
        <div class="form-group">
          <label><small>SubTotal Bienes 1%</small></label>
          <input type="text" readonly="readonly" class="form-control text-right" ng-value="detalle.anexo.retencionSubTotalBienes | currency"/>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6" ng-show="detalle.anexo.retencionIVABienes != 0">
        <div class="form-group">
          <label><small>IVA Bienes 30%</small></label>
          <input type="text" readonly="readonly" class="form-control text-right" ng-value="detalle.anexo.retencionIVABienes | currency"/>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6" ng-show="detalle.anexo.retencionSubTotalServicios != 0">
        <div class="form-group">
          <label><small>subTotal Servicios 2%</small></label>
          <input type="text" readonly="readonly" class="form-control text-right" ng-value="detalle.anexo.retencionSubTotalServicios | currency"/>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6" ng-show="detalle.anexo.retencionIVAServicios != 0">
        <div class="form-group">
          <label><small>IVA Servicios 70%</small></label>
          <input type="text" readonly="readonly" class="form-control text-right" ng-value="detalle.anexo.retencionIVAServicios | currency"/>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-12">
        <div class="form-group">
          <label><small>Total Retención</small></label>
          <input type="text" readonly="readonly" placeholder="Total Ret." class="form-control text-right" ng-value="detalle.anexo.totalRetencion | currency"/>
        </div>
      </div>
    </div>
    <!--Proveedor-->
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <b>Proveedor</b>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12" ng-if="!detalle.anexo.proveedor">
        <a  data-toggle="modal" data-target=".modalProveedores" class="btn btn-default btn-xs">Elegir Proveedor</a>
      </div>
      <div ng-if="detalle.anexo.proveedor">
        <div ng-if="detalle.anexo.proveedor.nombre && detalle.anexo.proveedor.nombre !='.'" class="col-md-3 col-sm-3 col-xs-12">
          <div class="form-group">
            <label><small>Nombre:</small></label>
            <input data-toggle="modal" data-target=".modalProveedores" type="text" class="form-control border-input" placeholder="Nombre" data-ng-model="detalle.anexo.proveedor.nombre" readonly="true">
          </div>
        </div>
        <div ng-if="detalle.anexo.proveedor.apellido && detalle.anexo.proveedor.apellido !='.'" class="col-md-3 col-sm-3 col-xs-12">
          <div class="form-group">
            <label><small>Apellido:</small></label>
            <input data-toggle="modal" data-target=".modalProveedores" type="text" class="form-control border-input" placeholder="Apellido" data-ng-model="detalle.anexo.proveedor.apellido" readonly="true">
          </div>
        </div>
        <div ng-if="detalle.anexo.proveedor.razons && detalle.anexo.proveedor.razons !='.'" class="col-md-6 col-sm-4 col-xs-12">
          <div class="form-group">
            <label><small>Razón Social</small></label>
            <input data-toggle="modal" data-target=".modalProveedores" type="text" class="form-control border-input" placeholder="Razón Social" data-ng-model="detalle.anexo.proveedor.razons" readonly="true">
          </div>
        </div>
        <div ng-if="detalle.anexo.proveedor.cedula && detalle.anexo.proveedor.cedula !='.'" class="col-md-3 col-sm-4 col-xs-12">
          <div class="form-group">
            <label><small>Cédula</small></label>
            <input data-toggle="modal" data-target=".modalProveedores" type="text" class="form-control border-input" placeholder="Cédula" data-ng-model="detalle.anexo.proveedor.cedula" readonly="true">
          </div>
        </div>
        <div ng-if="detalle.anexo.proveedor.ruc && detalle.anexo.proveedor.ruc !='.'" class="col-md-3 col-sm-4 col-xs-12">
          <div class="form-group">
            <label><small>Ruc</small></label>
            <input data-toggle="modal" data-target=".modalProveedores" type="text" class="form-control border-input" placeholder="Ruc" data-ng-model="detalle.anexo.proveedor.ruc" readonly="true">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Vale de Pago -->
  <div ng-show="detalle.tipo == 'vale'" class="col-md-12 col-sm-12 col-xs-12 row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2><strong>Vale de Pago</strong></h2>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
      <div class="form-group">
        <label><small>Valor</small></label>
        <input type="text" class="form-control border-input text-right" placeholder="Valor de Vale" data-ng-model="detalle.valor" onkeypress="return (event.charCode>47 && event.charCode<58) || event.charCode==46">
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 row">
    <hr>
  </div>
  <!-- DETALLES -->

  <div class="col-md-12 col-sm-12 col-xs-12 row">

    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <label><small>Fecha dd/mm/aaaa</small></label>
        <input type="date" class="form-control" data-ng-model="detalle.fecha">
      </div>
    </div>

    <div class="col-md-5 col-sm-5 col-xs-12">
      <div class="form-group">
        <label><small>Entregado A:</small></label>
        <input placeholder="Entregado A " type="text" class="form-control" data-ng-model="detalle.entregado" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode==32)||(event.charCode==225)||(event.charCode==233)||(event.charCode==237)||(event.charCode==243)||(event.charCode==250)||(event.charCode==241)||(event.charCode==209)||(event.charCode==193)||(event.charCode==201)||(event.charCode==205)||(event.charCode==211)||(event.charCode==218)||(event.charCode==209)"/>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <label class="control-label"><small>Cargado A:</small></label>
        <select data-ng-model="detalle.cargado" class="form-control">
          <option value="">Elija una sucursal</option>
          <option ng-value="sucursal.nombre" ng-repeat="sucursal in sucursales">{{sucursal.nombre}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <label><small>Categoria:</small></label>
        <select data-ng-model="detalle.categoria" class="form-control">
          <option value="">Elija una Categoria</option>
          <option ng-value="categoria.nombre" ng-repeat="categoria in categorias">{{categoria.nombre}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="form-group">
        <label><small>Descripción:</small></label>
        <textarea rows="4" placeholder="Descripción" type="text" class="form-control" data-ng-model="detalle.descripcion"/>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 row">
    <hr>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 row">
    <div class="form-group col-md-offset-5">
      <label class="control-label col-md-2 col-sm-2 col-xs-12">TOTAL FINAL</label>
      <div class="col-md-2 col-sm-2 col-xs-12">
        <h3>{{detalle.valor | currency}}</h3>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <hr/>
</div>

<div class="modal fade modalProveedores" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Proveedores</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 col-sm-8 col-xs-12">
            <div class="float: rigth">
              <button class="btn btn-default" type="button" name="button" data-dismiss="modal" data-toggle="modal" data-target=".modalNewProveedor">Nuevo Proveedor</button>
            </div>
          </div>
        </div>
        <br>
        <table class="table table-bordered" datatable='ng'>
          <thead>
            <tr class="active">
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Razón Social</th>
              <th>Cédula</th>
              <th>Ruc</th>
            </tr>
          </thead>
          <tbody>
            <tr class="filaLink" data-ng-click="asignar(proveedor)" ng-repeat="proveedor in proveedores | filter:buscador">
              <td ng-bind="proveedor.nombre"></td>
              <td ng-bind="proveedor.apellido"></td>
              <td ng-bind="proveedor.razons"></td>
              <td ng-bind="proveedor.cedula"></td>
              <td ng-bind="proveedor.ruc"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade modalNewProveedor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Proveedor</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
              <label><small>Nombre:</small></label>
              <input type="text" class="form-control border-input" placeholder="Nombre" data-ng-model="proveedor.nombre" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode==32)||(event.charCode==225)||(event.charCode==233)||(event.charCode==237)||(event.charCode==243)||(event.charCode==250)||(event.charCode==241)||(event.charCode==209)||(event.charCode==193)||(event.charCode==201)||(event.charCode==205)||(event.charCode==211)||(event.charCode==218)||(event.charCode==209)">
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
              <label><small>Apellido:</small></label>
              <input type="text" class="form-control border-input" placeholder="Apellido" data-ng-model="proveedor.apellido" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode==32)||(event.charCode==225)||(event.charCode==233)||(event.charCode==237)||(event.charCode==243)||(event.charCode==250)||(event.charCode==241)||(event.charCode==209)||(event.charCode==193)||(event.charCode==201)||(event.charCode==205)||(event.charCode==211)||(event.charCode==218)||(event.charCode==209)">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label><small>Razón Social:</small></label>
              <input type="text" class="form-control border-input" placeholder="Razón Social" data-ng-model="proveedor.razons" onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode==32)||(event.charCode==225)||(event.charCode==233)||(event.charCode==237)||(event.charCode==243)||(event.charCode==250)||(event.charCode==241)||(event.charCode==209)||(event.charCode==193)||(event.charCode==201)||(event.charCode==205)||(event.charCode==211)||(event.charCode==218)||(event.charCode==209)">
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
              <label><small>Cédula:</small></label>
              <input type="text" class="form-control border-input" placeholder="Cédula" data-ng-model="proveedor.cedula" maxlength="10" onkeypress="return event.charCode>47 && event.charCode<58">
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
              <label><small>Ruc:</small></label>
              <input type="text" class="form-control border-input" placeholder="Ruc" data-ng-model="proveedor.ruc" maxlength="13" onkeypress="return event.charCode>47 && event.charCode<58">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="guardarProveedor(proveedor);">Guardar</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  var mask_account =  function (field_account, num){
    var qty_chars = field_account.value.length;
    var zeros = ''
    for (i=0; i < num - qty_chars; i++ ){
        zeros= zeros + '0';
    }
    var new_value = zeros + field_account.value;
    field_account.value = new_value;
  }
</script>
