<section data-ng-controller="DetallesController"  data-ng-init="findByCaja()">


  <section ng-show="PanelCreateDetalle" ng-include="'app_Angular/General/views/crear-detalle.view.html'"></section>
  <section ng-show="PanelEditDetalle" ng-include="'app_Angular/General/views/edit-detalle.view.html'"></section>

  <div ng-show="PanelTableDetalles" class="x_panel">
    <div class="x_title">
      <h2>Detalles <small>Tabla de Detalles</small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <button type="button" class="btn btn-default" ng-click="showPanelCreateDetalle()">Agregar</button>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div style="overflow-x:auto;">
        <table datatable="ng" class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Valor</th>
              <th>Fecha</th>
              <th>Cargado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="detalle in detalles">
              <th class="text-right" scope="row">{{$index + 1}}</th>
              <td class="text-right" data-ng-bind="detalle.valor | currency"></td>
              <td data-ng-bind="detalle.fecha | date"></td>
              <td data-ng-bind="detalle.cargado"></td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-xs btn-default" data-toggle="tooltip" data-original-title="Ver Detalle" data-ng-click="showPanelEditDetalle(detalle)"><i class="fa fa-edit">Editar</i></a>
                  <a class="btn btn-xs btn-danger" data-toggle="tooltip" data-original-title="Eliminar" ng-click="delete(detalle)"><i class="fa fa-trash-o">Eliminar</i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>
