<section data-ng-controller="DetallesController"  data-ng-init="findByCaja()">


  <button style="float: right;" ng-show="caja.estado == 'Borrador' || caja.estado == 'Rechazado'" type="button" class="btn btn-default btn-success" ng-click="showPanelCreateDetalle()">Agregar</button>
  <br>
  <div ng-show="PanelTableDetalles" class="x_panel">
    <div class="x_title">
      <h2>Detalles <small>Tabla de Detalles</small></h2>
      <!--<ul class="nav navbar-right panel_toolbox">
        <button ng-show="caja.estado == 'Borrador' || caja.estado == 'Rechazado'" type="button" class="btn btn-default btn-success" ng-click="showPanelCreateDetalle()">Agregar</button>
      </ul>-->
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p>REPOSICION</p>
      <p>FECHA: {{caja.creado | date: "dd'-'MMMM'-'y"}}</p>
      <!--<div style="overflow-x:auto;">-->
        <table class="table table-bordered">
          <thead>
            <tr class="active">
              <th>Fecha</th>
              <th>Factura</th>
              <th>Entregado a</th>
              <th>Categoria</th>
              <th>Descripción</th>
              <th>Cargado</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-click="showPanelViewDetalle(detalle)" data-ng-repeat="detalle in detalles | orderBy:'fecha'" style="cursor: pointer">
              <td>{{detalle.fecha | date: "dd'/'MMMM'/'y"}}</td>
              <td>{{detalle.anexo.fac_establecimiento}}{{detalle.anexo.fac_puntoEmision}}{{detalle.anexo.fac_secuencia}}{{detalle.anexo.fac_autorizacion}}<div ng-show="detalle.tipo == 'vale'">Vale</div></td>
              <td data-ng-bind="detalle.entregado"></td>
              <td data-ng-bind="detalle.categoria"></td>
              <td data-ng-bind="detalle.descripcion"></td>
              <td data-ng-bind="detalle.cargado"></td>
              <td class="text-right" data-ng-bind="detalle.valor | currency"></td>
            </tr>
          </tbody>
        </table>
        <h4 style="float: right;">Total Caja Chica: {{caja.valor | currency}}</h4>

      <!--</div>-->
    </div>
  </div>
  <section ng-show="PanelCreateDetalle" ng-include="'app_Angular/General/views/crear-detalle.view.html'"></section>
  <section ng-show="PanelEditDetalle" ng-include="'app_Angular/General/views/edit-detalle.view.html'"></section>
  <section ng-show="PanelViewDetalle" ng-include="'app_Angular/General/views/view-detalle.view.html'"></section>

</section>
