<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="form-group">
      <label>Año:</label>
      <select class="form-control" ng-model="filtroAnio">
        <option ng-value="anio._id" ng-repeat="anio in anios | orderBy: anio._id : -1">{{anio._id}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-8 col-sm-8 col-xs-12">
    <br>
    <div class="btn-group" style="float:right">
      <a class="btn btn-sm btn-default" ng-click="exportExcel('IdReporte')"><i class="fa fa-file-excel-o"></i> Exportar</a>
      <a class="btn btn-sm btn-default" ng-click="printDiv('#IdReporte')"><i class="fa fa-print"></i> Imprimir</a>
    </div>
  </div>
</div>
<div class="x_panel" id="IdReporte">
  <div class="x_title">
    <div style="text-align:center">
      {{usuario.sucursal.tipo | uppercase }} {{usuario.sucursal.nombre | uppercase}} {{usuario.empresa.nombre}}
    </div>
  </div>
  <div class="x_content">


    <table class="table table-bordered">
      <thead>
        <tr class="success">
          <th>Categoria</th>
          <th ng-if="totalMeses[0] != 0">Ene</th>
          <th ng-if="totalMeses[1] != 0">Feb</th>
          <th ng-if="totalMeses[2] != 0">Mar</th>
          <th ng-if="totalMeses[3] != 0">Abr</th>
          <th ng-if="totalMeses[4] != 0">May</th>
          <th ng-if="totalMeses[5] != 0">Jun</th>
          <th ng-if="totalMeses[6] != 0">Jul</th>
          <th ng-if="totalMeses[7] != 0">Ago</th>
          <th ng-if="totalMeses[8] != 0">Sep</th>
          <th ng-if="totalMeses[9] != 0">Oct</th>
          <th ng-if="totalMeses[10] != 0">Nov</th>
          <th ng-if="totalMeses[11] != 0">Dic</th>
          <th>Monto Máximo</th>
          <th>Monto Total</th>
          <th>Monto Esperado</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="categoria in categorias">
          <td class="success">{{categoria.descripcion}}</td>
          <td ng-if="totalMeses[$index] != 0 && $index!=12" class="text-right" ng-class="{'supera': mes.valor>getMonto(categoria.descripcion)}" ng-repeat="mes in categoria.meses track by $index">{{mes.valor | currency}}</td>
          <td class="text-right">{{getMonto(categoria.descripcion) | currency}}</td>
          <td class="text-right info" ng-class="{'supera': categoria.meses[12].valor > getMonto(categoria.descripcion)*getSizeWithOutZeros(categoria) && getMonto(categoria.descripcion) != 0 }">{{categoria.meses[12].valor | currency}}</td>
          <td class="text-right">{{getMonto(categoria.descripcion)*getSizeWithOutZeros(categoria) | currency}}</td>
        </tr>
        <tr>
          <td class="success">Total x Mes</td>
          <td class="text-right info" ng-if="totalMeses[0] != 0">{{totalMeses[0] | currency}}</td>
          <td class="text-right info" ng-if="totalMeses[1] != 0">{{totalMeses[1] | currency}}</td>
          <td class="text-right info" ng-if="totalMeses[2] != 0">{{totalMeses[2] | currency}}</td>
          <td class="text-right info" ng-if="totalMeses[3] != 0">{{totalMeses[3] | currency}}</td>
          <td class="text-right info" ng-if="totalMeses[4] != 0">{{totalMeses[4] | currency}}</td>
          <td class="text-right info" ng-if="totalMeses[5] != 0">{{totalMeses[5] | currency}}</td>
          <td class="text-right info" ng-if="totalMeses[6] != 0">{{totalMeses[6] | currency}}</td>
          <td class="text-right info" ng-if="totalMeses[7] != 0">{{totalMeses[7] | currency}}</td>
          <td class="text-right info" ng-if="totalMeses[8] != 0">{{totalMeses[8] | currency}}</td>
          <td class="text-right info" ng-if="totalMeses[9] != 0">{{totalMeses[9] | currency}}</td>
          <td class="text-right info" ng-if="totalMeses[10] != 0">{{totalMeses[10] | currency}}</td>
          <td class="text-right info" ng-if="totalMeses[11] != 0">{{totalMeses[11] | currency}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
