<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="form-group">
      <label>Año:</label>
      <select class="form-control" ng-model="filtroAnio">
        <option ng-value="anio._id" ng-repeat="anio in anios | orderBy: anio._id : -1">{{anio._id}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-8 col-sm-8 col-xs-12">
    <br>
    <div class="btn-group" style="float:right">
      <a class="btn btn-sm btn-default" ng-click="exportExcel('IdReporteXCategoria', 'Categoria')"><i class="fa fa-file-excel-o"></i> Exportar</a>
      <a class="btn btn-sm btn-default" ng-click="printDiv('#IdReporteXCategoria', 'Categoria')"><i class="fa fa-print"></i> Imprimir</a>
    </div>
  </div>
</div>
<div class="x_panel">
  <div class="x_title">
    Reporte
  </div>
  <div class="x_content">

    <table class="table table-bordered">
      <thead>
        <tr class="success">
          <th>Categoria</th>
          <th>Ene</th>
          <th>Feb</th>
          <th>Mar</th>
          <th>Abr</th>
          <th>May</th>
          <th>Jun</th>
          <th>Jul</th>
          <th>Ago</th>
          <th>Sep</th>
          <th>Oct</th>
          <th>Nov</th>
          <th>Dic</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="categoria in categorias">
          <td class="success">{{categoria.descripcion}}</td>
          <td class="text-right" ng-repeat="mes in categoria.meses track by $index">{{mes.valor | currency}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
