<section data-ng-init="init()">

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="btn-group">
          <button data-ng-click="back()" class="btn btn-sm btn-default" type="button"><i class="fa fa-reply"></i> Atrás</button>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="btn-group" style="float: right;">
          <a ng-if="caja.estado == 'Borrador' || caja.estado == 'Rechazado'" class="btn btn-sm btn-default" data-toggle="tooltip" data-ng-href="#!/caja/{{caja._id}}/crearDetalle"><i class="fa fa-plus"></i> Agregar Detalle</a>
          <!--<a class="btn btn-sm btn-default" ng-click="exportExcel('reporteDetalles', 'Detalles de la caja')"><i class="fa fa-file-excel-o"></i> Exportar a Excel</a>-->
          <a ng-if="caja.estado == 'Pendiente' || caja.estado == 'Aprobado'" class="btn btn-sm btn-default" ng-click="printDiv('#reporteDetalles', 'Detalles de la caja')"><i class="fa fa-print"></i> Imprimir</a>
          <a ng-if="caja.estado == 'Aprobado'" class="btn btn-sm btn-default" ng-click="printComprobante('#idComprobante')"><i class="fa fa-print"></i> Imprimir Comprobante</a>
          <button ng-if="caja.estado == 'Borrador' || caja.estado == 'Rechazado'" data-ng-click="delete(caja);" class="btn btn-sm btn-danger" type="button"><i class="fa fa-trash"></i> Eliminar Caja Chica</button>
          <button ng-if="caja.estado == 'Borrador'" data-ng-click="enviar(caja);" class="btn btn-sm btn-default" type="button"><i class="fa fa-send-o"></i> Enviar Caja Chica</button>
          <button ng-if="caja.estado == 'Rechazado'" data-ng-click="enviar(caja);" class="btn btn-sm btn-default" type="button"><i class="fa fa-send-o"></i> Reenviar Caja Chica</button>
        </div>
      </div>
    </div>
    <br>
    <div class="alert alert-danger" role="alert" ng-if="caja.observacion">
      * {{caja.observacion}}
    </div>
    <small ng-if="caja.estado == 'Rechazado'">* Recuerde que puede agregar, modificar y eliminar detalles de esta caja chica para reenviarla nuevamente.</small>
      <div id="reporteDetalles" class="x_panel">
        <div ng-if="caja.secuencial" align="right">
          Secuencial: {{caja.secuencial}}
        </div>
        <div class="x_content">
          <div style="text-align:center">
            REPOSICION {{caja.sucursal.tipo | uppercase }} {{caja.sucursal.nombre | uppercase }} {{caja.empresa.nombre}}
          </div>
          <br>
          <table style="width: 100%;">
            <tr>
              <td><b>FECHA:</b></td>
              <td>{{caja.creado | date: "dd'-'MMMM'-'y"}}</td>
              <td><b>ESTADO:</b></td>
              <td>{{caja.estado}}</td>
            </tr>
            <tr>
              <td><b>CUSTODIO:</b></td>
              <td>{{caja.sucursal.nombre}}</td>
              <td ng-if="caja.administrador"><b>POR:</b></td>
              <td ng-if="caja.administrador">{{caja.administrador.firstName}} {{caja.administrador.lastName}}</td>
            </tr>
          </table>
          <br>
          <div style="overflow-x:auto;">
            <table class="table table-bordered" ng-init="filtro='fecha';reverse='false'">
              <thead>
                <tr class="active">
                  <th class="filaLink" ng-click="filtro='fecha';reverse = !reverse">Fecha</th>
                  <th class="filaLink" ng-click="filtro='tipo';reverse = !reverse">Factura</th>
                  <th>Proveedor</th>
                  <th class="filaLink" ng-click="filtro='categoria';reverse = !reverse">Categoria</th>
                  <th class="filaLink" ng-click="filtro='descripcion';reverse = !reverse">Descripción</th>
                  <th class="filaLink" ng-click="filtro='cargado';reverse = !reverse">Cargado</th>
                  <th class="filaLink" ng-click="filtro='valor';reverse = !reverse">Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr class="filaLink" data-ng-click="go(caja,detalle)" data-ng-repeat="detalle in detalles | orderBy:filtro:reverse">
                  <td>{{detalle.fecha | date: "dd'-'MMM'-'y"}}</td>
                  <td><div ng-if="detalle.tipo == 'factura'">{{detalle.anexo.fac_establecimiento}}-{{detalle.anexo.fac_puntoEmision}}-{{detalle.anexo.fac_secuencia}}</div><div ng-if="detalle.tipo == 'vale'">Vale de pago</div></td>
                  <td><div ng-if="detalle.tipo == 'factura'">{{detalle.anexo.proveedor.razons}}</div><div ng-if="detalle.tipo == 'vale'">No Aplica</div></td>
                  <td data-ng-bind="detalle.categoria"></td>
                  <td style="white-space: pre-wrap">{{detalle.descripcion}}</td>
                  <td data-ng-bind="detalle.cargado"></td>
                  <td class="text-right" data-ng-bind="detalle.valor | currency"></td>
                </tr>
              </tbody>
            </table>
            <h4 style="float: right;">Total Caja Chica: {{caja.valor | currency}}</h4>

          </div>

        </div>
      </div>



      <div data-ng-hide="!detalles || detalles.length">
        Aún no hay detalles en la caja chica
      </div>
</section>

<div ng-show="false" id="idComprobante">
  <div class="container border border-dark border-right-0 border-left-0">
    <div class="row">
      <div class="col-auto imgComprobante">
        <img src="/img/logo_burgerking64.png" alt="">
      </div>
      <div class="col">
        <div class="row">
          <div class="col text-center font-weight-bold text_titulo_comprobante">
            COMPROBANTE DE PAGO
          </div>
        </div>
        <div class="row">
          <div class="col text-center font-weight-bold text_subtitulo_comprobante">
            Reintegro de Caja Chica
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="row">
          <div class="col text-center">
            {{caja.secuencial}}
          </div>
        </div>
        <div class="row">
          <div class="col border border-dark">
            <table>
              <tbody>
                <td>U.S. {{caja.valor | currency}}</td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-auto font-weight-bold text_comprobante">
        Páguese a la orden de:
      </div>
      <div class="col-auto text_comprobante border border-dark border-top-0 border-right-0 border-left-0">
        <tipo ng-if="caja.sucursal.tipo== 'Departamento'">Dpto.</tipo>
        <tipo ng-if="caja.sucursal.tipo== 'Local'">Local</tipo>
        {{caja.sucursal.nombre | uppercase }}
      </div>
      <div class="col-auto font-weight-bold text_comprobante">
        Empresa:
      </div>
      <div class="col text_comprobante border border-dark border-top-0 border-right-0 border-left-0">

      </div>
    </div>
    <div class="">
      <suma class="font-weight-bold text_comprobante">
        La suma de:
      </suma>
      <valor class="text_comprobante border border-dark border-top-0 border-right-0 border-left-0">
        {{valorEnTexto}}
      </valor>
    </div>
    <!--<div class="row">
      <div class="col-auto font-weight-bold text_comprobante">
        La suma de:
      </div>
      <div class="col-auto border border-dark border-top-0 border-right-0 border-left-0 text_comprobante">
        NOVECIENTOS NOVENTA Y NUEVE MIL NOVECIENTOS NOVENTA Y NUEVE DÓLARES CON NOVENTA Y NUEVE CENTAVOS
      </div>
      <div class="col-auto font-weight-bold text_comprobante">
        U.S. Dollars
      </div>
    </div>-->
    <div class="row">
      <div class="col"></div>
      <div class="col-auto">
        <div class="row">
          <div class="col text_comprobante border border-dark border-top-0 border-right-0 border-left-0">
            Guayaquil
          </div>
        </div>
        <div class="row">
          <div class="col text-center font-weight-bold text_comprobante">
            Ciudad
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="row">
          <div class="col text_comprobante border border-dark border-top-0 border-right-0 border-left-0">
            {{caja.creado | date: "dd'/'MMMM'/'y"}}
          </div>
        </div>
        <div class="row">
          <div class="col text-center font-weight-bold text_comprobante">
            Fecha
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row d-flex justify-content-around">
      <div class="col-3">
        <div class="row">
          <div class="col border border-dark border-top-0 border-right-0 border-left-0"></div>
        </div>
        <div class="row">
          <div class="col text-center font-weight-bold text_comprobante">
            Recibido
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col border border-dark border-top-0 border-right-0 border-left-0"></div>
        </div>
        <div class="row">
          <div class="col text-center font-weight-bold text_comprobante">
            Autorizado
          </div>
        </div>
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>
</div>
