<div class="btn-group">
  <button data-ng-click="back()" class="btn btn-sm btn-default" type="button"><i class="fa fa-reply"></i> Atrás</button>
  <button ng-show="detalle.estado == 'Borrador' || detalle.estado == 'Rechazado'" class="btn btn-sm btn-success" ng-click="editar(detalle)"><i class="fa fa-edit"></i> Editar</button>
  <button ng-show="detalle.estado == 'Borrador' || detalle.estado == 'Rechazado'" class="btn btn-sm btn-danger" ng-click="eliminar(detalle)"><i class="fa fa-trash-o"></i> Eliminar</button>
</div>
<div class="x_panel" data-ng-init="init()">
  <div class="x_title">
    <h2>Detalle</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12 labelInfo">
          <div class="form-group row">
            <label for="example-text-input" class="col-md-6 col-sm-6 col-xs-4 col-form-label">Fecha:</label>
            <div class="col-md-6 col-sm-6 col-xs-8">
              <p>{{detalle.fecha | date: "dd'/'MMMM'/'y"}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 labelInfo">
          <div class="form-group row">
            <label for="example-text-input" class="col-md-6 col-sm-6 col-xs-4 col-form-label">Entregado a:</label>
            <div class="col-md-6 col-sm-6 col-xs-8">
              <p>{{detalle.entregado}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 labelInfo">
          <div class="form-group row">
            <label for="example-text-input" class="col-md-6 col-sm-6 col-xs-4 col-form-label">Cargado a:</label>
            <div class="col-md-6 col-sm-6 col-xs-8">
              <p>{{detalle.cargado}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 labelInfo">
          <div class="form-group row">
            <label for="example-text-input" class="col-md-6 col-sm-6 col-xs-4 col-form-label">Categoria:</label>
            <div class="col-md-6 col-sm-6 col-xs-8">
              <p>{{detalle.categoria}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 labelInfo">
          <div class="form-group row">
            <label for="example-text-input" class="col-md-6 col-sm-6 col-xs-4 col-form-label">Descripción:</label>
            <div class="col-md-6 col-sm-6 col-xs-8">
              <p>{{detalle.descripcion}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div ng-show="detalle.tipo=='vale'">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h2><strong>Vale de Pago</strong></h2>
          </div>
        </div>
        <!-- FACTURA -->
        <div ng-show="detalle.tipo=='factura'" class="col-md-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h2><strong>Factura</strong></h2>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group row">
              <label for="example-text-input" class="col-md-4 col-sm-4 col-xs-4 col-form-label">Num. de Factura:</label>
              <div class="col-md-8">
                <p>{{detalle.anexo.fac_establecimiento}}-{{detalle.anexo.fac_puntoEmision}}-{{detalle.anexo.fac_secuencia}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-md-4 col-sm-4 col-xs-4 col-form-label">Proveedor:</label>
              <div class="col-md-8">
                <p>{{detalle.anexo.proveedor.nombre}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-md-4 col-sm-4 col-xs-4 col-form-label">SubTotal base 0:</label>
              <div class="col-md-8">
                <p>{{detalle.anexo.subTotal0| currency}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-md-4 col-sm-4 col-xs-4 col-form-label">SubTotal base 12%:</label>
              <div class="col-md-8">
                <p>{{detalle.anexo.subTotalIva| currency}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-md-4 col-sm-4 col-xs-4 col-form-label">IVA:</label>
              <div class="col-md-8">
                <p>{{detalle.anexo.iva | currency}}</p>
              </div>
            </div>
          </div>
          <div ng-show="detalle.anexo.retencion" class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group row">
              <label for="example-text-input" class="col-md-4 col-sm-4 col-xs-4 col-form-label">Num. de Retención:</label>
              <div class="col-md-8">
                <p>{{detalle.anexo.ret_establecimiento}}-{{detalle.anexo.ret_puntoEmision}}-{{detalle.anexo.ret_secuencia}}</p>
              </div>
            </div>
            <div ng-show="detalle.anexo.retencionSubTotalBienes != 0" class="form-group row">
              <label for="example-text-input" class="col-md-4 col-sm-4 col-xs-4 col-form-label">SubTotal Bienes 1%:</label>
              <div class="col-md-8">
                <p>{{detalle.anexo.retencionSubTotalBienes | currency}}</p>
              </div>
            </div>
            <div ng-show="detalle.anexo.retencionIVABienes != 0" class="form-group row">
              <label for="example-text-input" class="col-md-4 col-sm-4 col-xs-4 col-form-label">IVA Bienes 30%:</label>
              <div class="col-md-8">
                <p>{{detalle.anexo.retencionIVABienes | currency}}</p>
              </div>
            </div>
            <div ng-show="detalle.anexo.retencionSubTotalServicios != 0" class="form-group row">
              <label for="example-text-input" class="col-md-4 col-sm-4 col-xs-4 col-form-label">SubTotal Servicios 2%:</label>
              <div class="col-md-8">
                <p>{{detalle.anexo.retencionSubTotalServicios | currency}}</p>
              </div>
            </div>
            <div ng-show="detalle.anexo.retencionIVAServicios != 0" class="form-group row">
              <label for="example-text-input" class="col-md-4 col-sm-4 col-xs-4 col-form-label">IVA Servicios 70%:</label>
              <div class="col-md-8">
                <p>{{detalle.anexo.retencionIVAServicios | currency}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-md-4 col-sm-4 col-xs-4 col-form-label">Total Retención:</label>
              <div class="col-md-8">
                <p>{{detalle.anexo.totalRetencion | currency }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="example-text-input" class="col-md-4 col-sm-4 col-xs-4 col-form-label"><h3>Total:</h3></label>
              <div class="col-md-8">
                <p><h3>{{detalle.valor | currency}}</h3></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
