<section data-ng-controller="DetallesController">
  <h1>Nuevo Detalle</h1>
  <form data-ng-submit="create()" novalidate>
    <div class="">
      <label for="valor">Valor</label>
      <div class="">
        <input type="text" data-ng-model="valor" id="valor" placeholder="Valor" required>
      </div>
    </div>
    <div class="">
      <label for="empresa">Empresa</label>
      <div class="">
        <input type="text" data-ng-model="empresa" id="empresa" placeholder="Empresa" required>
      </div>
    </div>
    <div class="">
      <label for="categoria">Categoria</label>
      <div class="">
        <input type="text" data-ng-model="categoria" id="categoria" placeholder="Categoria" required>
      </div>
    </div>
    <div class="">
      <input type="submit">
    </div>
    <div data-ng-show="error">
      <strong data-ng-bind="error"></strong>
    </div>
  </form>
</section>
