<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Administración</title>
    <link rel="icon" href="/favicon_23Q_icon.ico">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap DataTable -->
    <link rel="stylesheet" href="/css/dataTables.bootstrap.min.css">
    <!-- PNotify -->
    <link rel="stylesheet" href="/css/pnotify.custom.min.css">
    <!--Estilo-->
    <link rel="stylesheet" href="/css/estilos.css">
  </head>

  <body>
    <div class="container body">
      <div class="main_container">
        <!-- Fixed navbar -->
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><%= usuario.tipo %></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a class="linkNavbar" href="#!/cajasPendientes">Cajas Pendientes</a></li>
                  <li><a class="linkNavbar" href="#!/cajasAprobadas">Cajas Aprobadas</a></li>
                  <li><a class="linkNavbar" href="#!/cajasRechazadas">Cajas Rechazadas</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li><a class="linkNavbar" href="#!/reporteXLocales">Reporte por Locales/Departamentos</a></li>
                    <li><a class="linkNavbar" href="#!/reporteXCategorias">Reporte por Categorias</a></li>
                    </ul>
                  </li>
                </ul>
                <!--<ul class="nav navbar-nav navbar-right">
                  <li><a><%= usuario.fullname %></a></li>
                  <li><a href="/api/usuariosLogout">Salir</a></li>
                </ul>-->
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= usuario.fullname %></a>
                    <ul class="dropdown-menu">
                    <li><a class="linkNavbar" href="#!/CambiarContrasena">Cambiar Contraseña</a></li>
                    <li><a class="linkNavbar"  href="/api/usuariosLogout">Salir</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>
        <!-- page content -->
        <div role="main">
          <div id="loadLogo" style="text-align:center">
            <img src="/images/minifindstore_spin.gif" alt=""  height="42" width="42">
          </div>
          <section id="inicio" ng-view></section>

          <div style="float: right;">
            <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=txk1KgIjXgN3UGwLTsxH1XxWSWFl1Ohtst30lVW7qgNxpqNah6BvGeSdNA5E"></script></span>
          </div>
        </div>

        <!-- /page content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Datatables -->
    <script src="/js/jquery.dataTables.min.js" charset="utf-8"></script>
    <script src="/js/dataTables.bootstrap.min.js" charset="utf-8"></script>
    <!-- PNotify -->
    <script src="/js/pnotify.custom.min.js" charset="utf-8"></script>
    <!-- Chart -->
    <script src="/lib/chart.js/dist/Chart.min.js" charset="utf-8"></script>

    <!-- Exportar a Excel -->
    <script src="/js/FileSaver.js" charset="utf-8"></script>

    <!-- Aplicación Angular -->

    <script src="/lib/angular/angular.js" charset="utf-8"></script>
    <script src="/lib/angular-route/angular-route.js" charset="utf-8"></script>
    <script src="/lib/angular-datatables/demo/src/archives/dist/angular-datatables.min.js" charset="utf-8"></script>
    <script src="/lib/angular-chart.js/dist/angular-chart.min.js" charset="utf-8"></script>
    <script src="/lib/angular-local-storage/dist/angular-local-storage.min.js" charset="utf-8"></script>

    <!-- Principal -->
    <script src="/app_Angular/Administrador/administrador.js" charset="utf-8"></script>
    <!-- Controladoress -->
    <script src="/app_Angular/Administrador/controllers/view-Cajas.controller.js" charset="utf-8"></script>
    <script src="/app_Angular/Administrador/controllers/view-CajasPendientes.controller.js" charset="utf-8"></script>
    <script src="/app_Angular/Administrador/controllers/view-CajasAprobadas.controller.js" charset="utf-8"></script>
    <script src="/app_Angular/Administrador/controllers/view-caja.controller.js" charset="utf-8"></script>
    <script src="/app_Angular/Administrador/controllers/view-detalle.controller.js" charset="utf-8"></script>
    <script src="/app_Angular/Administrador/controllers/reporte-sucursal.controller.js" charset="utf-8"></script>
    <script src="/app_Angular/Administrador/controllers/reporte-categoria.controller.js" charset="utf-8"></script>
    <script src="/app_Angular/Administrador/controllers/detallesByCeldaSucursal.controller.js" charset="utf-8"></script>
    <script src="/app_Angular/Administrador/controllers/detallesByCeldaCategoria.controller.js" charset="utf-8"></script>
    <script src="/app_Angular/Administrador/controllers/cambiarContrasena.controller.js" charset="utf-8"></script>

    <!-- Servicioss -->
    <script src="/app_Angular/Administrador/services/administrador.service.js" charset="utf-8"></script>
    <!-- Rutass -->
    <script src="/app_Angular/Administrador/config/cajas.routes.js" charset="utf-8"></script>




    <script type="text/javascript">
      var mostrarNotificacion = function(mensaje) {
        new PNotify({
                        title: 'Advertencia',
                        text: mensaje,
                        styling: 'bootstrap3'
                    });
      }
      $('.linkNavbar').click(function(){
          $(".navbar-collapse").collapse('hide');
      });
    </script>

  </body>
</html>
