<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comprobante</title>
  </head>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/print_comprobante.css">

  <body>
    <div class="container border border-dark border-right-0 border-left-0">
      <div class="row">
        <div class="col-auto imgComprobante">
          <img src="/img/logo_burgerking64.png" alt="">
        </div>
        <div class="col">
          <div class="row">
            <div class="col text-center font-weight-bold text_titulo_comprobante">
              COMPROBANTE DE PAGO
            </div>
          </div>
          <div class="row">
            <div class="col text-center font-weight-bold text_subtitulo_comprobante">
              Reintegro de Caja Chica
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="row">
            <div class="col text-center">
              0036688
            </div>
          </div>
          <div class="row">
            <div class="col border border-dark">
              <table>
                <tbody>
                  <td>U.S. $999.99</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-auto font-weight-bold text_comprobante">
          Páguese a la orden de:
        </div>
        <div class="col-auto text_comprobante border border-dark border-top-0 border-right-0 border-left-0">
          Dpto. Sistemas
        </div>
        <div class="col-auto font-weight-bold text_comprobante">
          Empresa:
        </div>
        <div class="col text_comprobante border border-dark border-top-0 border-right-0 border-left-0">

        </div>
      </div>
      <div class="">
        <suma class="font-weight-bold text_comprobante">
          La suma de:
        </suma>
        <valor class="text_comprobante border border-dark border-top-0 border-right-0 border-left-0">
          TREINTA Y SEIS DÓLARES
        </valor>
      </div>
      <!--<div class="row">
        <div class="col-auto font-weight-bold text_comprobante">
          La suma de:
        </div>
        <div class="col-auto border border-dark border-top-0 border-right-0 border-left-0 text_comprobante">
          NOVECIENTOS NOVENTA Y NUEVE MIL NOVECIENTOS NOVENTA Y NUEVE DÓLARES CON NOVENTA Y NUEVE CENTAVOS
        </div>
        <div class="col-auto font-weight-bold text_comprobante">
          U.S. Dollars
        </div>
      </div>-->
      <div class="row">
        <div class="col"></div>
        <div class="col-auto">
          <div class="row">
            <div class="col text_comprobante border border-dark border-top-0 border-right-0 border-left-0">
              Guayaquil
            </div>
          </div>
          <div class="row">
            <div class="col text-center font-weight-bold text_comprobante">
              Ciudad
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="row">
            <div class="col text_comprobante border border-dark border-top-0 border-right-0 border-left-0">
              27/septiembre/2017
            </div>
          </div>
          <div class="row">
            <div class="col text-center font-weight-bold text_comprobante">
              Fecha
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row d-flex justify-content-around">
        <div class="col-3">
          <div class="row">
            <div class="col border border-dark border-top-0 border-right-0 border-left-0"></div>
          </div>
          <div class="row">
            <div class="col text-center font-weight-bold text_comprobante">
              Recibido
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col border border-dark border-top-0 border-right-0 border-left-0"></div>
          </div>
          <div class="row">
            <div class="col text-center font-weight-bold text_comprobante">
              Autorizado
            </div>
          </div>
        </div>
        <div class="col-3">
        </div>
      </div>
    </div>
  </body>
  <!--<script type="text/javascript">
    window.print();
  </script>-->
  <script src="/js/comprobante.js" charset="utf-8"></script>
</html>
