<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Iniciar Sesión</title>
    <link rel="icon" href="/favicon_23Q_icon.ico">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- PNotify -->
    <link rel="stylesheet" href="/css/pnotify.custom.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/css/estilos.css">
  </head>
  <body ng-app="login">

    <div class="container">
      <div class="row">
        <div class="login text-center">

          <section ng-controller="loginController">
            <form class="x_panel" data-ng-submit="login()" style="padding: 30px 17px;" class="text-center" novalidate>
              <h1>------ Iniciar Sesión ------</h1>
              <br>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
                    <input ng-model="usuario.usuario" type="text" class="form-control" placeholder="usuario" required=""/ style="text-transform: lowercase;">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h6>@burgerkingec.com.ec</h6>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                    <input ng-model="usuario.password" type="password" class="form-control" placeholder="Contraseña" required="" />
                  </div>
                </div>
                <br>
                <button type="submit" class="btn btn-block btn-default submit"><i class="fa fa-sign-in"></i> Ingresar</button>
              </div>
            </form>

          </section>
          <div id="loadLogo" style="text-align:center">
            <img src="/images/minifindstore_spin.gif" height="64" width="64" class="logo">
          </div>

          <div>
            <h1><i class="fa fa-cube"></i> Sistema Resnorte</h1>
            <p>©2017 Todos los derechos Reservados</p>
          </div>

          <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=txk1KgIjXgN3UGwLTsxH1XxWSWFl1Ohtst30lVW7qgNxpqNah6BvGeSdNA5E"></script></span>

        </div>
      </div>
    </div>
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- PNotify -->
    <script src="/js/pnotify.custom.min.js" charset="utf-8"></script>
    <!-- Aplicación Angular -->
    <script src="/lib/angular/angular.js" charset="utf-8"></script>

    <script type="text/javascript">
    var mostrarNotificacion = function(mensaje) {
      new PNotify({
                      title: 'Advertencia',
                      text: mensaje,
                      styling: 'bootstrap3'
                  });
    }
    $('#loadLogo').hide();

    angular.module('login',[]).controller('loginController', ['$scope','$http',
      function($scope, $http){

        $scope.usuario = {};

        $scope.login = function(){
          $('#loadLogo').show();
          $http({
            method: 'POST',
            url: 'api/usuariosLogin',
            data: $scope.usuario
          }).then(function(response){
            window.location.href="/";
          }, function(errorResponse){
            $('#loadLogo').hide();
            mostrarNotificacion(errorResponse.data.message);
          })
        };
      }
    ])

    </script>
  </body>
</html>
