<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Iniciar Sesión</title>
    <link rel="icon" href="/favicon_23Q_icon.ico">
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Theme Style-->
    <link href="../build/css/custom.min.css" rel="stylesheet">


  </head>

  <body class="login" ng-app="loginApp" ng-controller="loginController">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form data-ng-submit="login()" novalidate >
              <h1>Iniciar sesión</h1>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                <div class="col-md-7 col-sm-7 col-xs-7 form-group has-feedback">
                  <input ng-model="usuario.usuario" type="text" class="form-control has-feedback-left" placeholder="usuario" required=""/ style="text-transform: lowercase;">
                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">
                  <h6>@burgerkingec.com.ec</h6>
                </div>
              </div>
              <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                <input ng-model="usuario.password" type="password" class="form-control has-feedback-left" placeholder="Contraseña" required="" />
                <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div>
                <button type="submit" class="btn btn-default submit">Ingresar</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">¿Eres nuevo?
                  <a href="#signup" class="to_register"> Create una cuenta </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-cube"></i> Sistema ResNorte</h1>
                  <p>©2017 Todos los derechos Reservados</p>
                </div>
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form" ng-init="initRegistro()">
          <section class="login_content">
            <form data-ng-submit="registrar()" novalidate class="row">
              <h1>Registro</h1>
              <div>
                <input data-ng-model="newUsuario.firstName" type="text" class="form-control" placeholder="Nombres" required="" />
              </div>
              <div>
              <div>
                <input data-ng-model="newUsuario.lastName" type="text" class="form-control" placeholder="Apellidos" required="" />
              </div>
              <div>
              <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-7">
                  <input data-ng-model="newUsuario.usuario" type="text" class="form-control" placeholder="Usuario" required="" style="text-transform: lowercase;" />
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">
                  <h6>@burgerkingec.com.ec</h6>
                </div>
              </div>

              <div>
                <input data-ng-model="newUsuario.password" type="password" class="form-control" placeholder="Contraseña" required="" />
              </div>
              <div>
                <input data-ng-model="passwordConfirm" type="password" class="form-control" placeholder="Repita la contraseña" required="" />
              </div>
              <div>
                <select data-ng-model="newUsuario.empresa" class="form-control" ng-change="getSucursales()">
                  <option value="">Elija una Empresa</option>
                  <option ng-value="empresa._id" ng-repeat="empresa in empresas">{{empresa.nombre}}</option>
                </select>
              </div>
              <br>
              <div ng-show="newUsuario.empresa">
                <select data-ng-model="newUsuario.sucursal" class="form-control">
                  <option value="">Locales/Departamentos</option>
                  <option ng-value="sucursal._id" ng-repeat="sucursal in sucursales">{{sucursal.tipo}} {{sucursal.nombre}}</option>
                </select>
              </div>

              <!--<div>
                <input data-ng-model="newUsuario.tipo" type="text" class="form-control" placeholder="tipo" required="" />
              </div>-->

              <br>
              <div>
                <button type="submit" class="btn btn-default submit">Registrarse</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">¿Ya te registraste?
                  <a href="#signin" class="to_register">Ingresa</a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-cube"></i> Sistema ResNorte</h1>
                  <p>©2017 Todos los derechos Reservados</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>

  <!-- PNotify -->
  <link rel="stylesheet" href="/css/pnotify.custom.min.css">
  <!-- Animate.css -->
  <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">
  <!-- jQuery -->
  <script src="/vendors/jquery/dist/jquery.min.js"></script>
  <!-- PNotify -->
  <script src="/js/pnotify.custom.min.js" charset="utf-8"></script>
  <!-- Angular -->
  <script src="/lib/angular/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

    angular.module('loginApp',[]).controller('loginController',['$scope','$http',
      function($scope, $http) {

        $scope.usuario = {};
        $scope.newUsuario = {};
        $scope.sucursal = {};
        $scope.sucursal.tipo = 'departamento';



        $scope.login = function(){
          $http({
            method: 'POST',
            url: 'api/usuariosLogin',
            data: $scope.usuario
          }).then(function(response){
            window.location.href="/";
          },function(errorResponse){
            new PNotify({
              text:errorResponse.data.message,
              styling: 'bootstrap3'
            })
          })
        };

        $scope.registrar =function(){

          if($scope.newUsuario.password ==  $scope.passwordConfirm){
            $http({
              method: 'POST',
              url: '/api/usuarios',
              data: $scope.newUsuario
            }).then(function(response){
              new PNotify({
                text: 'Ha sido registrado correctamente',
                styling: 'bootstrap3',
                type: 'success'
              });
              window.location.href="#signin";
            },function(errorResponse){
              new PNotify({
                text:errorResponse.data.message,
                styling: 'bootstrap3'
              })
            });
          } else {
            new PNotify({
              text: 'Las contraseñas no coinciden',
              styling: 'bootstrap3'
            })
          }
        }

        $scope.initRegistro = function(){
          $http({
            method: 'GET',
            url: '/api/empresas'
          }).then(function(response){
            $scope.empresas = response.data;
          })
        }

        $scope.getSucursales = function(){

          if($scope.newUsuario.empresa){
            $http({
              method: 'GET',
              url: '/api/sucursalesByEmpresa/'+$scope.newUsuario.empresa
            }).then(function(response){
              $scope.sucursales = response.data;
            })
          }

        }

      }
    ]);

  </script>

</html>
