<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Iniciar Sesión</title>
    <link rel="icon" href="/favicon_23Q_icon.ico">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- PNotify -->
    <link rel="stylesheet" href="/css/pnotify.custom.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/css/estilos.css">
  </head>
  <body>
    <div id="loadLogo" style="text-align:center">
      <img src="/images/minifindstore_spin.gif" alt=""  height="42" width="42">
    </div>
    <div class="container">
      <div class="row">
        <div class="login text-center">

          <section ng-view></section>

          <div>
            <h1><i class="fa fa-cube"></i> Sistema Resnorte</h1>
            <p>©2017 Todos los derechos Reservados</p>
          </div>

          <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=txk1KgIjXgN3UGwLTsxH1XxWSWFl1Ohtst30lVW7qgNxpqNah6BvGeSdNA5E"></script></span>

        </div>
      </div>
    </div>
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- PNotify -->
    <script src="/js/pnotify.custom.min.js" charset="utf-8"></script>
    <!-- Aplicación Angular -->
    <script src="/lib/angular/angular.js" charset="utf-8"></script>
    <script src="/lib/angular-route/angular-route.js" charset="utf-8"></script>
    <!-- Principal -->
    <script src="/app_Angular/Inicio/inicio.js" charset="utf-8"></script>
    <!-- Controladores -->
    <script src="/app_Angular/Inicio/controllers/login.controller.js" charset="utf-8"></script>
    <script src="/app_Angular/Inicio/controllers/logup.controller.js" charset="utf-8"></script>
    <script src="/app_Angular/Inicio/controllers/sucursal.controller.js" charset="utf-8"></script>
    <!-- Rutass -->
    <script src="/app_Angular/Inicio/config/inicio.routes.js" charset="utf-8"></script>


    <script type="text/javascript">
      $('#loadLogo').hide();
    </script>
  </body>
</html>
